<div class="projekt_item">
  <div class="left">
    <div class="title cufon">
	{% ifequal project.link "otletek_hatarok_nelkul" %} 
      <a href="/past_project" class="title cufon">{{project.title}}</a>
	 {% else %}
	 {{project.title}}
	 {% endifequal %}
    </div>
    <div class="date">
      {% ifequal project.link "otletek_hatarok_nelkul" %} 
      <a href="/past_project" class="date">{{project.fromDate|date:"Y.m.d"}} - {{project.toDate|date:"Y.m.d"}}</a>
	 {% else %}
	 {{project.fromDate|date:"Y.m.d"}} - {{project.toDate|date:"Y.m.d"}}
	 {% endifequal %}
    </div>    
  </div>
  
  <div class="lead">
    {% ifequal project.link "otletek_hatarok_nelkul" %} 
      <a href="/past_project" class="lead">{{project.lead|striptags|safe|truncatewords:10}}</a>
	 {% else %}
		{{project.lead|striptags|safe|truncatewords:10}}
	{% endifequal %}
 </div>
  
  <div class="more">
    <a href="/projektek/{{project.link}}/otletek/szuro/mindegy/oldal/1"> ötletek ››</a>
  </div>
<div style="clear:both;"></div>
</div>
<div style="clear:both;"></div>
<div class="projekt_separator"></div>
  
