.content-bg
  position: relative
  width: 779px
  background: url('/media/images/content_slice.png') repeat-y
  z-index: 0

.content_tab
  width: 683px
  height: 53px
  color: white
  font-size: 18px
  padding-top: 8px
  padding-left: 13px
  background: url('/media/images/content_tab.png') no-repeat
  margin-left: -30px
  .end
    height: 44px
    width: 17px
    display: inline-block
    float: left
    background: url('/media/images/content_tab_slice_right.png') no-repeat
  .title
    height: 44px
    padding-top: 9px
    padding-left: 5px
    background: url('/media/images/content_tab_slice.png') repeat-x
    float: left

#content_top
  padding-top: 20px
  padding-bottom: 10px
  color: #6a6b6a

#content-bg_
  top: -7px

#content-bg_simple
  top: 8px

#content-bg_
  #content_top_note
    position: absolute
    top: 0px
    left: 0
    width: 779px
    height: 288px
    background: url('/media/images/content_top_note4.png') no-repeat 0 0px
    z-index: -1
    overflow: hidden
  #content
    position: relative
    width: 779px
    
.content-bg #content_bottom
  width: 802px
  height: 49px
  background: url('/media/images/content_bottom.png') no-repeat 0 0
  z-index: 1
  line-height: 29px

#content_bottom #inner
  float: right
  padding-right: 40px

.content-bg #content_bottom
  #pager
    height: 29px
    margin-left: 84px
    width: 684px
    line-height: 29px
  #navigator
    float: right
    padding-right: 10px
    font-size: 14px
    div
      float: left
      width: 20px
      font-weight: normal
      &.actual_range
        font-weight: bold
        color: #ddd

#content-bg_
  .content_tab
    padding-top: 51px
    background: url('/media/images/content_tab.png') no-repeat 0px 43px
  #note
    position: absolute
    top: 45px
    left: 625px
    width: 104px
    height: 107px
    color: #000
    font-size: 15px
    text-align: left
    padding-top: 25px
    padding-left: 15px
    z-index: 3000
    a
      padding-top: 5px
      color: #000
    #link
      height: 5px

.content-bg
  #title
    position: absolute
    top: 18px
    left: 240px
    color: #696969
    font-size: 14px
    z-index: 2
  #content
    color: #000
    font-size: 12px
    padding-left: 100px
    width: 655px
    z-index: 400
    padding-bottom: 10px
    .bold
      font-size: 12px
      font-weight: bold
    form
      label
        color: black
        font-weight: bold
        height: 20px
      input[type=text]
        margin-bottom: 20px
        height: 20px
        border: 1px solid #c9c9c9
        color: black
        width: 300px
        background-color: #fff
      textarea
        margin-bottom: 20px
        border: 1px solid #c9c9c9
        color: black
        width: 500px
        height: 100px
        background-color: #fff
      input[type=text].errorBorder, textarea.errorBorder
        border: 2px solid #924949
    a
      color: #b4c619
      font-weight: bold

.green
  color: #b4c619
  font-weight: bold
  padding-bottom: 10px

.indent
  padding-bottom: 10px
  padding-left: 30px

#need_others_table
  margin: 20px

#id_need_others
  margin-top: 20px

#need_others_table td
  padding: 10px

#matrica
  position: absolute
  left: 430px
  top: 60px
  width: 150px
  height: 150px
  cursor: pointer

#content #call a
  color: blue
  text-decoration: underline
  
#cc
  width: 220px
  text-align: justify
  color: black
  a
    color: black
    
  a:hover
    color: #B4C619
