$countercolor: #414042
#counter
  width: 240px
  height: 110px
  #counter_holder
    width: 239px
    height: 61px
    font-size: 46px
    color: $countercolor
    background: url('/media/images/counter_bg.png') no-repeat 7px 5px
    font-weight: bold
    .unit
      padding-top: 24px
      float: left
      text-align: right
    #days
      width: 57px
      margin-right: 15px
    #hours
      width: 55px
      margin-right: 15px
    #minutes
      width: 84px
  .title
    font-size: 15px
    color: $countercolor
  #subtitle
    width: 100%
    text-align: right
  .counter:
    font-size: 44px
    font-weight: bold
  