.idea
  position: relative
  width: 689px
  height: 117px
  background: url('/media/images/idea_bg.png') no-repeat
  color: #000
  font-size: 12px
  margin-left: -18px

.content-bg #content .idea .title a
  color: #000

.idea
  .status
    position: absolute
    top: 7px
    left: 20px
  .details
    position: relative
    top: 30px
    left: 24px
    width: 640px
    height: 87px
    .idea_img
      float: left
      padding-right: 7px
      padding-top: 5px
      img
        border: 2px solid #b4c619
    .next_btn
      position: absolute
      top: 88px
      left: 525px
  .title, .text
  .tags
    position: absolute
    top: 106px
    left: 0px
    float: left
  .functions_1
    position: absolute
    top: 33px
    left: 540px
  .functions_2
    position: absolute
    top: 76px
    left: 545px

#idea
  color: #000
  font-size: 12px
  #header
    margin-bottom: 10px
  .one_functions_1, &.one_functions_2
    float: right
  ul
    margin-top: 2px
    padding-left: 10px
    float: left
    list-style-type: none
    li
      padding-bottom: 6px
    li.red
      color: red
  .one_status
    float: left

.idea_img
  float: left

#idea
  #support_button
    position: relative
    width: 124px
    height: 129px
    cursor: pointer
    
  .cufon
   
  #support_button:hover
    position: relative
    width: 124px
    height: 129px
    cursor: pointer
   
  #support
    font-size: 12px
    float: right
    margin-left: 40px
    width: 124px
    height: 129px
    text-align: center
    background: url('/media/images/support_bg.png') no-repeat
  #support_hidden
    font-size: 12px
    float: right
    margin-left: 40px
    width: 124px
    height: 129px
    text-align: center
  #support img
    margin-top: 10px
    cursor: pointer
  #statistics
    font-size: 11px
    float: right
    margin-left: 20px
    width: 124px
    height: 129px
    text-align: left
    .title
      font-size: 13px
      color: #b4c619
      padding-bottom: 5px
      border-bottom: 1px solid #989898
    ul
      padding-top: 10px
      padding-left: 0
  .row
    float: left
    margin-bottom: 10px

#idea_img
  float: left
  img
    border: 2px solid #b4c619

#idea .row
  .header
    display: block
    float: left
    font-weight: bold
    float: left
    width: 90px
    font-size: 12px
  .text
    display: block
    float: right
    width: 560px
    font-size: 12px
    img
      border: 2px solid #b4c619

#comments
  border-top: 2px solid #8c8c8c
  padding-top: 10px

.idea #next_button
  position: absolute
  top: 15px
  left: 525px

#comments
  .comment
    padding-bottom: 20px
  .details
    font-size: 13px
    color: #535353
    font-weight: bold
    padding-top: 40px
    padding-left: 60px
  .comment .idea_img img
    border: 2px solid #b4c619
  .text
    padding-top: 10px
    font-size: 12px
    color: #535353
    float: left

#send_comment_form

.idea .more_button
  position: absolute
  top: 116px
  left: 545px

.content-bg #content .idea .more
  color: #b4c619

#filter
  position: relative
  width: 690px
  height: 145px
  margin-left: 80px

#filter2
  position: relative
  width: 690px
  height: 99px
  margin-left: 80px

#sorter
  position: relative
  width: 350px
  height: 98px
  margin-left: 10px


.filter
  position: absolute
  width: 350px
  height: 145px
  margin-left: 0
  background: url('/media/images/filter__bg2.png') no-repeat 0px 45px
  #title
    position: absolute
    top: 10px
    left: 5px
    font-size: 15px
    color: #232323
  #subtitle
    position: absolute
    top: 32px
    left: 42px
    font-size: 12px
    color: #232323
    font-weight: bold
  #cat1
    position: absolute
    top: 32px
    left: 122px
    font-size: 12px
    color: #232323
    font-weight: bold
  #cat2
    position: absolute
    top: 32px
    left: 222px
    font-size: 12px
    color: #232323
    font-weight: bold
  #web_filter
    position: absolute
    left: 268px
    top: 107px
    cursor: pointer
    width: 17px
    height: 17px
  #mobile_filter
    position: absolute
    left: 117px
    top: 107px
    cursor: pointer
    width: 17px
    height: 17px
  #fresh_filter
    position: absolute
    left: 106px
    top: 32px
    cursor: pointer
    width: 15px
    height: 17px
  #popular_filter
    position: absolute
    left: 205px
    top: 31px
    cursor: pointer
    width: 105px
    height: 17px
  .selected
    background: url('/media/images/filter_checked.png') no-repeat 0px 0px
.filter2
  position: relative
  width: 370px
  height: 65px
  left: 340px
  top: 0px
  display: block
  background: url('/media/images/filter_bg.png') no-repeat 0px 10px


#filter #prizes
  position: absolute
  left: 360px
  top: 10px
  width: 201px
  height: 138px
  padding-left: 130px
  background: url('/media/images/nyeremenyek_small_bg.png') no-repeat 0px 0px
  #title
    color: #000
    font-size: 14px
  &#text
    padding-top: 15px
    color: #000
    font-size: 14px
    line-height: 18px
  &#text a
    color: #b4c619
  &#text #details
    color: #b4c619
    font-size: 16px

#side_idea
  position: relative
  width: 321px
  height: 102px
  background: url('/media/images/lamp_bg.png') no-repeat 0px 0px
  padding-left: 10px
  #text
    position: absolute
    top: 3px
    left: 96px
    width: 140px
    color: #2d2d2d
    font-size: 12px
    line-height: 16px
    a
      color: #b4c619
    #details
      color: #b4c619
      font-size: 16px

#fb_like
  width: 248px
  padding-top: 10px
  padding-bottom: 20px
 
#cs_tos
  color: #b4c619
  text-decoration: underline
  cursor: pointer 