a
  color: #ffffff
  text-decoration: none
  &:hover
    color: #888888

body
  font-family: Arial, Helvetica
  padding: 0
  margin: 0
  background-color: #eeeded
  font-size: 13px
  line-height: 15.6px
  color: #ffffff

#main_frame
  margin-top: 0
  margin-left: -550px
  width: 1100px
  position: relative
  top: 0px
  left: 50%
  padding-bottom: 220px

#top
  position: absolute
  left: 0px
  top: 0px
  width: 1101px
  height: 57px
  color: #696969
  font-size: 12px
  font-family: Arial, Helvetica
  background: url('/media/images/top6.png') no-repeat
  padding-left: 80px
  padding-top: 3px
  #connects
    float: right
    display: none

#cs-logo_
  position: absolute
  left: 0px
  top: 57px
  width: 237px
  height: 111px
  background: url('/media/images/cs_logo.png') no-repeat
  img
    position: absolute
    top: 13px
    left: 71px

#content_wrapper
  position: relative
  left: 0px
  top: 160px
  width: 802px
  
.hidden
  display: none

#sidebar
  position: absolute
  left: 779px
  top: 168px
  width: 321px
  z-index: 1

.medium_title
  font-size: 18px

#footer
  padding-top: 10px
  padding-left: 84px
  padding-bottom: 10px
  width: 695px
  color: #696969
  font-size: 12px

#misc
  position: relative
  width: 800px
  height: 20px
  color: #696969
  font-size: 12px
  text-align: left
  margin-top: 150px
  padding-left: 250px
  a
    color: #696969

.button
  background: url('/media/images/button_bg.png') no-repeat
  width: 116px
  height: 28px
  font-size: 20px
  color: #474847
  line-height: 28px
  text-align: center
  cursor: pointer

.back_button
  float: left
  margin-top: 20px

.next_button
  float: right
  margin-top: 20px

.green_button
  float: right
  background: url('/media/images/green_btn.png') no-repeat
  width: 99px
  height: 24px
  line-height: 24px
  margin-top: 3px
  font-size: 15px
  color: #ffffff
  margin-left: 10px

.content-bg #content a.remove
  color: red
  padding-left: 20px

#tmobile
  position: absolute
  top: 15px
  left: 84px
  width: 150px
  height: 60px
  cursor: pointer

#htc
  position: absolute
  top: 15px
  left: 254px
  width: 76px
  height: 38px
  cursor: pointer
  
.prs
  display: none
  
