#necc_wrapper
  position: relative
  left: 0px
  top: 167px
  width: 942px
  margin-left: 82px
  #necc_banner
    position: relative
    width: 100%
    height: 111px
    #necc_search
      position: absolute
      top: 0
      left: 0
      width: 142px
      height: 111px
      background: url('/media/images/necc_images/necc_search_bg.png') 0 0 no-repeat
      #search_title
        position: absolute
        top: 6px
        left: 6px
        color: #b4c619
        font-size: 12px
        letter-spacing: 0px
      
      #necc_search_input
        position: absolute
        top: 48px
        left: 8px
        width: 113px
        height: 18px
        line-height: 15px
        padding-left: 3px
        padding-right: 3px
        color: #828282
        font-size: 10px
        border: none
        background: none

      #necc_search_button
        position: absolute
        top: 72px
        left: 7px
        width: 120px
        height: 23px
        cursor: pointer
        color: #ffffff
        font-size: 15px
        line-height: 24px
        font-weight: bold
        text-align: center
    #necc_subscribe
      position: absolute
      top: 0
      right: 0
      width: 196px
      height: 111px
      background: url('/media/images/necc_images/necc_register_bg.png') 0 0 no-repeat
      #necc_subscribe_label
        position: absolute
        top: 36px
        left: 50px
        font-size: 13px
        color: #b4c619
      
      #necc_subscribe_label2
        position: absolute
        top: 6px
        left: 12px
        font-size: 13px
        color: #b4c619

      #necc_subscribe_button
        position: absolute
        top: 72px
        left: 12px
        width: 181px
        height: 24px
        font-size: 14px
        color: #ffffff
        line-height: 22px
        cursor: pointer
        text-align: center
    
    #necc_about
      position: absolute
      top: 0
      left: 150px
      width: 594px
      height: 111px
      #necc_about_label
        position: absolute
        top: 6px
        left: 0px
        font-size: 13px
        color: #b4c619
      
      #necc_about_desc
        position: absolute
        letter-spacing: 0px
        top: 30px
        left: 0px
        width: 100%
        height: 69px
        font-size: 15px
        line-height: 25px
        color: #2d2d2d
        a
          color: #b4c619
  #necc_login
    background: #ffffff
    color: #828282
    a
      color: #828282
    margin-bottom: 10px
    line-height: 30px
    padding-left: 10px
    input
      margin-right: 10px
      margin-left: 10px
    #title
      color: #b4c619
    #login_button
      width: 65px
      height: 30px
      cursor: pointer
      margin-top: 7px
      float: right
      background: url('/media/images/necc_images/necc_login_btn.png') no-repeat
            
  #necc_content_wrapper
    width: 928px
    background: #ffffff
    padding: 7px
    padding-top: 9xp
    #necc_sidemenu_wrapper
      width: 136px
      float: left
      font-size: 11px
      font-weight: bold

      .separator
        background: #818181
        width: 100%
        height: 1px
        margin-top: 10px
        margin-bottom: 10px
      ul
        li
          list-style: none
          line-height: 13px
          padding-bottom: 7px
          a
            color: #2d2d2d
      .emp
        a
          color: #b4c619
      .necc_all
        margin-top: 20px
        a
          color: #b4c619
    
    #necc_content
      width: 768px
      float: right
      .necc_box
        position: relative
        width: 134px
        height: 134px
        cursor: pointer
        float: left
        padding-bottom: 28px
        margin-left: 24px
        font-weight: bold
        h1
          color: black
        .title
          position: absolute
          right: 7px
          bottom: 18px
          color: #000000
          text-align: right
          font-size: 10px
          line-height: 11px
          width: 75px
          word-wrap: break-word
        .title2
          position: absolute
          color: #ffffff
          right: 6px
          bottom: 17px

      .no_left_padding
        margin-left: 0
        
      .necc_new
        position: absolute
        top: -5px
        right: -5px
        background: url('/media/images/necc_images/necc_new_icon.png')
        width: 42px
        height: 43px

  #necc_register_bg
    padding-top: 3px
    width: 464px
    background: #ffffff
    float: left
    #necc_register_wrapper
      margin: 6px
      position: relative
      #necc_register_label
        font-size: 13px
        color: #b4c619
        margin-left: 14px
        margin-top: 8px
  #necc_register_info
    float: right
    width: 432px
    background: #ffffff
    font-size: 12px
    color: #2d2d2d
    padding: 15px
    line-height: 15px
    text-align: justify
    #necc_register_info_slogan
      padding: 10px
      padding-bottom: 0
      color: #b4c619
      font-size: 27px
      font-weight: bold
      font-style: italic
      line-height: 35px
      text-align: center
      float: left
    #necc_register_info_slogan_author
      color: #909090
      font-size: 15px
      font-weight: bold
      float: right
      padding-bottom: 15px

    h3
      color: #2d2d2d
      font-size: 15px
      margin-top: 3px
      margin-bottom: 20px
    p 
      margin-bottom: 10px
      
  #welcome
    width: 700px
    background-color: white
    padding: 10px
    float: left
    font-size: 15px
    color: #2d2d2d
    margin-bottom: 1px
    margin-top: 10px

    
  #profile_card
    width: 700px
    background-color: white
    padding: 10px
    float: left
    #left_row
      width: 125px
      float: left
      margin-right: 15px
      #pink_button
        width: 125px
        height: 24px
        line-height: 24px
        font-size: 11px
        color: white
        margin-bottom: 10px
        background: url('/media/images/necc_images/pink_button.png') no-repeat
        #inner
          padding-left: 5px
          padding-right: 5px
      #image
        img
          border: 4px solid #b4c619
          width: 117px
        margin-bottom: 10px
      #share_box
        width: 125px
        height: 24px
        a
          display: block
          float: left
          width: 22px
          margin-right: 5px
          
    #right_row
      width: 282px
      float: right
      border: 1px solid blue

    #description
      font-size: 12px
      color: #2d2d2d
      margin-bottom: 1px

  .title
    font-size: 13px
    a
      color: #b4c619
    color: #b4c619
    margin-bottom: 10px

  #twitter
    margin-top: 20px
    background: white
    padding: 10px
    float: left
    width: 700px
    #twitter_update_list
      width: 413px
      list-style-type: none
      color: #2d2d2d
      a
        color: #2d2d2d
        display: block
      li
        width: 413px
        line-height: 24px
        border-bottom: 1px solid #cfdde3
        display: block
        margin-top: 10px
        margin-bottom: 10px      
      
#necc_registration_form, #necc_profile_form
  #title
    color:  #b4c619
  table
    margin-top: 20px
    margin-left: 0px
    color: #2d2d2d
    font-size: 12px
    td, th
      padding-bottom: 20px
      vertical-align: top
    th
      text-align: right
      width: 100px
    td
      a
        color: #b4c619
        text-decoration: underline
      select
        width: 322px
      textarea
        border: none
        width: 316px
        height: 56px
        padding: 3px
        background: url('/media/images/necc_images/necc_textarea_bg.png')
      input
        border: none
        width: 316px
        height: 22px
        padding-left: 3px
        padding-right: 3px
        background: url('/media/images/necc_images/necc_input_bg.png')
      &.mark
        width: 15px
        color: #ff0000
        text-align: center
      #cancel_button
        background: url('/media/images/necc_images/necc_cancel_btn.png') no-repeat
      #continue_button
        background: url('/media/images/necc_images/necc_continue_btn.png') no-repeat
      .necc_button
        float: left
        margin-left: 10px
        cursor: pointer
        width: 60px
        height: 15px      
  


#breadcrumb
  float: left
  font-size: 12px
  color: #2d2d2d
  width: 600px
  margin-bottom: 10px
  margin-left: 11px
  a
    color: #2d2d2d
    text-decoration: underline
  
#company_profile
  background: #ffffff
  margin-top: 10px
  float: left
  width: 700px
  padding: 10px
  
#similar_companies
  float: right
  background: white
  vertical-align: top
  margin-top: 0
  #header
    height: 35px
    width: 197px
    margin: 1px
    line-height: 35px
    color: white
    background: #b4c619
    padding-left: 10px
  .item
    width: 199px
    height: 56px
    border-bottom: 1px solid #b4c619
    margin: 5px
    img
      width: 45px
      height: 45px
      float: left
      border: 1px solid #b4c619
      margin-right: 5px
    #title
      color: #2d2d2d
      font-size: 12px
      line-height: 16px
      font-weight: bold
      a
        color: #b4c619

#category
  width: 750px
  #similar_companies
    float: left
    width: 100%
    .item
      width: 48%
      height: 56px
      border-bottom: 1px solid #b4c619
      margin: 5px
      float: left
      #title
        cursor: pointer
    .description
      font-weight: normal

#necc_login_form
  height: 50px
  margin-top: 5px

#profile_switcher
  margin-top: 20px
  font-size: 15px
  
.underlined
  text-decoration: underline

#necc_tos
  color: #b4c619
  text-decoration: underline
  cursor: pointer
