/* v1.0 | 20080212

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-size: 100%
  vertical-align: baseline
  background: transparent

body
  line-height: 1

/* remember to define focus styles!

\:focus
  outline: 0

/* remember to highlight inserts somehow!

/* tables still need 'cellspacing="0"' in the markup

table
  border-collapse: collapse
  border-spacing: 0

*, img
  margin: 0
  padding: 0
