﻿{% extends "base.html" %}

{% load facebook_tags %}
{% load paginator get_setting replace %}
{% load format_number %}

{% block content_tab %} Projektek {% endblock %}
<div id="content">
{% block content_text %}
{% if category.link %}<div id="category_title">{{category.title}}</div>{% endif %}
<script type="text/javascript" charset="utf-8">
	$.ajaxSetup ({  
        cache: false  
    });  
    //var ajax_load = '<div style="height:364px; width:443px; padding-top:80px; padding-left:240px;"><img src="/media/images/load.gif" alt="töltődik..." /></div>'; 
function next_projs(div,table,loadUrl,right, is_left){
		if(right){var ps=-680; if(is_left){ ps=-680-680}	$(table).animate({ left: ps }, 500, function(){$(div).load(loadUrl);}); }
		else $(table).animate({ left: 0 }, 500, function(){$(div).load(loadUrl);});
        
}
</script>
<br/>{% if mostideas %}
<p style="padding-left:10px; margin-bottom:0px; font-size:18px; font-weight:bold;" class="cufon"><a href="/" style="color:#000;">Kiemelt Projektek</a></p>
<div id="result_projs_most" style="width:680px; overflow:hidden; display:inline-block; float:left; height:495px;">
	<div class="proj_table_most" style="display:inline-block; float:left; width:680px; position: relative;">
	
  <table><tr>
			{% for idea, days, hours, now, need, perc in mostideas %}
			<td>{% include 'idea/idea_row.html' %}</td>
			{% endfor %}</tr>
		</table>
 
  {% if rightm %}<p style="float:right; font-weight:bold;"><a href="javascript:next_projs('#result_projs_most','.proj_table_most','{% if  category %}{% url creativeselector.views.mostideas 3 2 category.link %}{% else %}{% url creativeselector.views.mostideas 3 2 %}{% endif %}', true, false);">továbbiak>></a></p>
  </p><div style="position:relative; z-index:2; top:-10px;left:1020px; width:32px;"><img src="/media/images/lightbox-ico-loading.gif"></div>{% endif %}
 </div>
 </div>{% endif %}
 {% if freshideas %}
<p style="padding-left:10px; margin-bottom:0px; font-size:18px; font-weight:bold;" class="cufon"><a href="/frissprojektek" style="color:#000;">Friss Projektek</a></p>
 <div id="result_projs_fresh" style="width:680px; overflow:hidden; display:inline-block; float:left; height:495px;">
	<div class="proj_table_fresh" style="display:inline-block; float:left; width:680px; position: relative;">
	
  <table><tr>
			{% for idea, days, hours, now, need, perc in freshideas %}
			<td>{% include 'idea/idea_row.html' %}</td>
			{% endfor %}</tr>
		</table>
 

  {% if rightn %}<p style="float:right; font-weight:bold;"><a href="javascript:next_projs('#result_projs_fresh','.proj_table_fresh','{% if  category %}{% url creativeselector.views.freshideas 3 2 category.link %}{% else %}{% url creativeselector.views.freshideas 3 2 %}{% endif %}', true, false);">továbbiak>></a>
  </p><div style="position:relative; z-index:2; top:-10px;left:1020px; width:32px;"><img src="/media/images/lightbox-ico-loading.gif"></div>{% endif %}
 </div>
 </div>{% else %}
  <p>Még nincs projektünk ebben a kategóriában</p>
  {% endif %}
 
 {% if not is_mac %}<p style="margin-top:464px;">&nbsp;</p>{% endif %}
  
{% endblock %}
</div>
{% block content_bottom %}

{% endblock %}
