{% extends "base.html" %}

{% load facebook_tags %}
{% load paginator get_setting replace %}
{% load format_number %}

{% block content_tab %} Projektek {% endblock %}

{% block content_text %}
<div id="category_title">{{category.title}}</div>
	{% if ideas %}
  <table><tr>
			{% for idea, days, hours, now, need, perc in ideas %}
			<td>{% include 'idea/idea_row.html' %}</td>{% cycle '' '' '</tr></table><table><tr>' %}
			{% endfor %}</tr>
		</table>
  {% else %}
  <p>Még nincs projektünk ebben a kategóriában</p>
  {% endif %}
  
{% endblock %}

{% block content_bottom %}

{% endblock %}
