﻿
{% load facebook_tags %}
{% load format_number %}

<div class="proj_table{% if most %}_most{% else %}_fresh{% endif %}" style="display:inline-block; {% if before %}{% ifequal num '6' %}left:-690px; {% else %}left:-680px; {% endifequal %}{% endif %}width:680px; float:left; position: relative;">
	{% if ideas %}
	
  <table><tr>
			{% ifequal num '6' %}<td><table><tr>{% endifequal %}
			{% for idea, days, hours, now, need, perc in ideas %}
			
			<td>{% include 'idea/idea_row.html' %}</td>
			{% ifequal num '6' %}{% cycle '' '' '</tr></table><table><tr>' '' '' '</tr></table></td><td valign="top"><table><tr>' %}{% endifequal %}
			{% endfor %}{% ifequal num '6' %}</tr></table></td>{% endifequal %}</tr>
		</table>
  
  {% endif %}

  <p style="float:right; {% if before %}left:680px;{% endif %} position: relative; font-weight:bold;">
  {% if fresh %}
   {% if before %}
   <a href="javascript:next_projs('#result_projs_fresh','.proj_table_fresh','{% if category %}{% url creativeselector.views.freshideas num pbef category.link %}{% else %}{% url creativeselector.views.freshideas num pbef %}{% endif %}', false, false);" style="margin-right:{% if after %}490{% else %}590{% endif %}px;"> << vissza </a> &nbsp; {% endif %}
   {% if after %}<a href="javascript:next_projs('#result_projs_fresh','.proj_table_fresh','{% if category %}{% url creativeselector.views.freshideas num paft category.link %}{% else %}{% url creativeselector.views.freshideas num paft %}{% endif %}', true{% if before %}, true{% else %}, false{% endif %});"> továbbiak>> </a>
	{% endif %}
   {% endif %}
   {% if most %}
   {% if before %}
   <a href="javascript:next_projs('#result_projs_most','.proj_table_most','{% if category %}{% url creativeselector.views.mostideas num pbef category.link %}{% else %}{% url creativeselector.views.mostideas num pbef %}{% endif %}', false, false);" style="margin-right:{% if after %}490{% else %}590{% endif %}px;"> << vissza </a> &nbsp; {% endif %}
   {% if after %}<a href="javascript:next_projs('#result_projs_most','.proj_table_most','{% if category %}{% url creativeselector.views.mostideas num paft category.link %}{% else %}{% url creativeselector.views.mostideas num paft %}{% endif %}', true{% if before %}, true{% else %}, false{% endif %});"> továbbiak>> </a>
   {% endif %}
   {% endif %}
   {% if fin %}
   {% if before %}
   <a href="javascript:next_projs('#result_projs_fresh','.proj_table_fresh','{% if category %}{% url creativeselector.views.finideas num pbef category.link %}{% else %}{% url creativeselector.views.finideas num pbef %}{% endif %}', false, false);" style="margin-right:{% if after %}490{% else %}590{% endif %}px;"> << vissza </a> &nbsp; {% endif %}
   {% if after %}<a href="javascript:next_projs('#result_projs_fresh','.proj_table_fresh','{% if category %}{% url creativeselector.views.finideas num paft category.link %}{% else %}{% url creativeselector.views.finideas num paft %}{% endif %}', true{% if before %}, true{% else %}, false{% endif %});"> továbbiak>> </a>
   {% endif %}
   {% endif %}
    {% if end %}
   {% if before %}
   <a href="javascript:next_projs('#result_projs_fresh','.proj_table_fresh','{% if category %}{% url creativeselector.views.endideas num pbef category.link %}{% else %}{% url creativeselector.views.endideas num pbef %}{% endif %}', false, false);" style="margin-right:{% if after %}490{% else %}590{% endif %}px;"> << vissza </a> &nbsp; {% endif %}
   {% if after %}<a href="javascript:next_projs('#result_projs_fresh','.proj_table_fresh','{% if category %}{% url creativeselector.views.endideas num paft category.link %}{% else %}{% url creativeselector.views.endideas num paft %}{% endif %}', true{% if before %}, true{% else %}, false{% endif %});"> továbbiak>> </a>
   {% endif %}
   {% endif %}
   {% if succ %}
   {% if before %}
   <a href="javascript:next_projs('#result_projs_fresh','.proj_table_fresh','{% if category %}{% url creativeselector.views.succesideas num pbef category.link %}{% else %}{% url creativeselector.views.succesideas num pbef %}{% endif %}', false, false);" style="margin-right:{% if after %}490{% else %}590{% endif %}px;"> << vissza </a> &nbsp; {% endif %}
   {% if after %}<a href="javascript:next_projs('#result_projs_fresh','.proj_table_fresh','{% if category %}{% url creativeselector.views.succesideas num paft category.link %}{% else %}{% url creativeselector.views.succesideas num paft %}{% endif %}', true{% if before %}, true{% else %}, false{% endif %});"> továbbiak>> </a>
   {% endif %}
   {% endif %}
   </p>
    {% if before %} <div style="position:relative; z-index:2; top:-40px;left:340px; width:32px;"><img src="/media/images/lightbox-ico-loading.gif"></div>{% endif %}
   {% if after %}<div style="position:relative; z-index:3; {% if before %}top:-80px;left:1700px;{% else %}top:-10px;left:1010px;{% endif %} width:32px;"><img src="/media/images/lightbox-ico-loading.gif"></div>{% endif %}
   </div>