{% load facebook_tags %}
{% load format_number call expr video_thumb %}
{% load filetransfers fieldtag object_value_by_name call %}
{% if not no_stuff %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$('#zold_bar_{{forloop.counter}}').width(181*{{need}});
	var num1=$('#money_now{% if fresh %}_friss{% endif %}_{{forloop.counter}}').html();		
	$('#money_now{% if fresh %}_friss{% endif %}_{{forloop.counter}}').html(separateNum(num1));
 });
	</script>{% endif %}
<div id="projekt_card_little">

		<div id="project_content_litle">{% if not idea.approved %}<div style="position:absolute; z-index:3; margin-top:-14px; margin-left:134px;"><img src="/media/images/not_approved.png"></div>{% endif %}
	{% ifequal need 1 %}<div style="position:absolute; z-index:3; margin-top:-14px; margin-left:129px;"><img src="/media/images/success.png" width="75"></div>{% endifequal %}
					{% if own_project %}{% if not idea.approved %}<a href="{% url creativeselector.views.continue_project idea.link %}">{% else %}<a href="{% url creativeselector.views.owner_project idea.link %}">{% endif %}{% else %}<a href="{% url creativeselector.views.get_project idea.link %}">{% endif %}
					{% if idea.main_pic %}
					{% url adminupload.views.download_handler pk=idea.pk model_info='creativeselector.tender' field_name='main_pic' as fallback_url  %}
					<div valign="middle" style="overflow:hidden; width:195px; height:145px; background:black;vertical-align: 50%;margin-bottom:3px;">
					<div valign="middle" style="overflow:hidden; width:195px; height:145px;">
					<img valign="middle" src="{% firstof idea.main_pic|public_download_url fallback_url as download_url %}" width="195">
					</div>
					</div>
					{% else %}{% if idea.video_url %}{{ idea.video_url|video_thumb|safe }}{% else %}<div style="width:195px;height:145px; margin-bottom:3px; background:#333333"></div>{% endif %}{% endif %}</a>
					<div class="projekt_littl_categ">{% if own_project %}{% if not idea.approved %}<a href="{% url creativeselector.views.continue_project idea.link %}">{% else %}<a href="{% url creativeselector.views.owner_project idea.link %}">{% endif %}{% else %}<a href="/projektek/kat/{{idea.category.link}}">{% endif %}{{idea.category}}</a></div>
					<p id="projekt_title_little">{% if own_project %}{% if not idea.approved %}<a href="{% url creativeselector.views.continue_project idea.link %}">{% else %}<a href="{% url creativeselector.views.owner_project idea.link %}">{% endif %}{% else %}<a href="{% url creativeselector.views.get_project idea.link %}">{% endif %}{{idea.short_title|upper}}</a></p>
					<p id="projekt_auth_little">{% if own_project %}{% if not idea.approved %}<a href="{% url creativeselector.views.continue_project idea.link %}">{% else %}<a href="{% url creativeselector.views.owner_project idea.link %}">{% endif %}{% else %}<a href="{% url creativeselector.views.get_user_profile idea.owner.username %}">{% endif %}{{idea.owner.last_name}} {{idea.owner.first_name}}</a></p>
					<div class="projekt_introduce">{{idea.introduce|slice:":140"|safe}}</div>
				</div>
				<div id="project_status_little">
				<hr style="border:none;background:#BEC0C2; height:1px; margin:0px;">{% if not no_stuff %} 
				{% if not days %}{% if not succ %}<div style="margin-top:15px; background:#00ff00; color:white; width:195px; height:25px; text-align:center; font-weight:bold; padding-top:10px;font-size:12px;">Projekt Lezárult</div>{% else %}
					<div id="statusbar_little"><img src="/media/images/zold_statusbar_b.png" height="8"><img src="/media/images/zold_statusbar_c.png" width="0" id="zold_bar_{{forloop.counter}}" height="8"><img src="/media/images/zold_statusbar_e.png" height="8"></div>
					<table class="projekt_sup_little">
					<tr><th>TÁMOGATVA</th><th>ÖSSZEDOBVA</th><th>{% if hours %}ÓRÁIG{% else %}NAPIG{% endif %} MÉG</th></tr>
					<tr><td>{{perc}}%</td><td id="money_now{% if fresh %}_friss{% endif %}_{{forloop.counter}}">{{now}},-</td><td class="proj_little_days">{{days}}</td></tr>
					</table>{% endif %}{% else %}
					<div id="statusbar_little"><img src="/media/images/zold_statusbar_b.png" height="8"><img src="/media/images/zold_statusbar_c.png" width="0" id="zold_bar_{{forloop.counter}}" height="8"><img src="/media/images/zold_statusbar_e.png" height="8"></div>
					<table class="projekt_sup_little">
					<tr><th>TÁMOGATVA</th><th>ÖSSZEDOBVA</th><th>{% if hours %}ÓRÁIG{% else %}NAPIG{% endif %} MÉG</th></tr>
					<tr><td>{{perc}}%</td><td id="money_now{% if fresh %}_friss{% endif %}_{{forloop.counter}}">{{now}},-</td><td class="proj_little_days">{{days}}</td></tr>
					</table>{% endif %}{% endif %}
		</div>
    
 
</div>
