{% load facebook_tags %}
{% load replace format_number video expr %}
{% load filetransfers fieldtag object_value_by_name call media %}

<div class="content_tab cufon" style="page-break-before: always;">
  <div class="title">
      {{position}}. {{idea.short_title|striptags|truncchar:70}}
  </div>
  <div class="end"></div>
</div>

{% block banner %}

{% endblock %}
{% block content_text %}



<div id="idea">
  <div id="header">
      <div id="idea_img"><img src="https://graph.facebook.com/{{idea.owner.get_profile.facebook_id}}/picture?type=large" height="200"/></div>
      <ul>
        <li>Ötletgazda: <b>{{ idea.owner.last_name }} {{ idea.owner.first_name }}</b> </li>
        <li>Beküldés ideje: <b>{{idea.created|date:"Y.m.d"}}</b> </li>
        {% expr (idea.modified - idea.created) as diff %}
        {% if diff.days > 0%}
        <li>Módosítás ideje: <b>{{idea.modified|date:"Y.m.d"}}</b> </li>
        {% endif %}

        <li>Sorszám: <b>{{idea.serial|format_number:'%05d'}}</b> </li>
        <li>Típus: <b>
            {% if idea.is_web %}<a href="{% url creativeselector.views.ideas 'web' 1 %}">web</a>{% endif %}
            {% if idea.is_web and idea.is_mobile %},{% endif %}
            {% if idea.is_mobile %}<a href="{% url creativeselector.views.ideas 'mobile' 1 %}">mobil</a>{% endif %}
            </b> 
        </li>
      </ul>
      <div id="statistics">
        <span class="title cufon">statisztikák<img src="/media/images/percent_icon.png"></span>
        <ul>
          {% ifequal idea.owner user %}
          <li>Látogatók száma: <b>{{idea.visitors}}</b> </li>
          {% endifequal %}
          <li>Támogatók száma: <b>{{idea.supporters}}</b> </li>
        </ul>
      </div>
      


      <div id="support_hidden">
      </div>

      {% include 'clear.html' %}
  </div>

  <div class="row">
    <div class="header">
      Mire való?
    </div>
    <div class="text">

      {{idea.for_what|removetags:"div, span"|replace:"/<br>/<br><br>/"|video|safe}}
    </div>
  </div>
    

  <div class="row">
    <div class="header">
      Kinek szól?
    </div>
    <div class="text">
      {{idea.for_who|removetags:"div, span"|replace:"/<br>/<br><br>/"|video|safe}}
    </div>
  </div>

  {% ifnotequal idea.competitors|striptags "" %}
  <div class="row">
    <div class="header">
      Versenytársak:
    </div>
    <div class="text">
      {{idea.competitors|removetags:"div, span"|replace:"/<br>/<br><br>/"|video|safe}}
    </div>
  </div>

  {% endifnotequal %}
  
  
  {% if idea.tenderimage_set.all %}
  <div class="row">
    <div class="header">
      Kapcsolódó anyagok:
    </div>
    <div class="text">
      {% for ideaimage in idea.tenderimage_set.all %}
           {% url adminupload.views.download_handler pk=ideaimage.pk model_info='creativeselector.tenderimage' field_name='file' as fallback_url  %}
           {% if ideaimage.file|filename|is_image %}
              <a class="lightbox" href="{% firstof ideaimage.file.file|public_download_url fallback_url as download_url %}">          
                <img src="{% firstof ideaimage.file|public_download_url fallback_url as download_url %}" height="100" alt="{{ ideaimage.file|filename }}" title="{{ ideaimage.file|filename }}">
              </a><br/>
            {% else %}
              <a href="{% firstof ideaimage.file|public_download_url fallback_url %}">          
                {{ ideaimage.file|filename }}
              </a><br/>
            {% endif %}
      {% endfor %}
    </div>
  </div>


  {% endif%}

  {% include 'clear.html' %}
</div>

{% endblock %}

{% block content_bottom %}
{% endblock %}


