{% extends "idea/ideas.html" %}

{% load facebook_tags %}
{% load replace format_number video expr %}
{% load filetransfers fieldtag object_value_by_name call media %}


{% block content_tab %}{{idea.short_title|striptags|truncchar:30}}{% endblock %}
{% block banner %}

{% endblock %}
{% block content_text %}
  {% initialize_facebook_connect %}
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
       $("#sorter").hide();
    });
    
    function removeTender(id) {
      if (confirm("Biztosan törölni akarod?  Ezzel a beküldött ötleted mellett az összes támogatód is elveszted!?")) { 
        window.location.href="/remove_idea/"+id;
      }
    }
  </script>

  <div id="force_share" style="display: none; width: 600px;">
  	<b>Köszönjük, ötletedet befogadtuk. </b><br/><br/>
  	<b>Tedd közzé ötleted beküldését az üzenőfaladon, hogy ismerőseid támogathassanak:</b> <br/><br/>
  	<i>"{{linktitle}}"</i><br/><br/>
  	{% call 'widgets/sharing.html' with share_title=share_msg %}
  	{% call 'widgets/button.html' with title="Kihagyom" class="nyroModalClose" button_id="cancel_1" %}
  </div>
  
  <div id="force_share2" style="display: none; width: 600px;">
  	<b>Köszönöm, hogy támogattál. </b><br/><br/>
  	<b>Most megoszthatod barátaiddal, hogy ők is támogatóim legyenek:</b> <br/><br/>
  	<i>"{{linktitle}}"</i><br/><br/>
  	{% call 'widgets/sharing.html' with share_title=share_msg %}
  	{% call 'widgets/button.html' with title="Kihagyom" class="nyroModalClose" button_id="cancel_2" %}
  </div>
  
  <div id="force_login" style="display: none; width: 600px;">
  	<b>A folytatáshoz kérjük jelentkezz be. Regisztrálnod külön nem kell, mivel nálunk a meglévő Facebook belépési azonosítódat használod.
	<br/> Előfordulhat, hogy a facebook nem küldi el az azonosítót, ilyenkor újra kell próbálkozni.</b> <br/><br/>
    {% show_connect_button %}

  </div>

  <script type="text/javascript" charset="utf-8">


    $(document).ready(function() {
  
      {% if just_supported %}
          $.fn.nyroModalManual({
            content: $("#force_share2").html(),
            width: null,
            height: null,
            minWidth: 200,
            minHeight: 220
          });
        
      {% endif %}
      
      // This is the first time, so we show the sharing modal window
      {% if just_modified %}
          $.fn.nyroModalManual({
            content: $("#force_share").html(),
            width: null,
            height: null,
            minWidth: 200,
            minHeight: 220
          });
      {% endif %}
    });


    // Form validator
    function validate(form_id) {
     resetForm(form_id);

     var valid = is_empty(form_id, 'content', true);

     if (valid) {
       $(f(form_id)).submit();
     }
    }
  </script>

  {% if not logged_in %}  
    <div style="display:none;">
      {% show_connect_button %}
    </div>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
          $('#support_button').click(function(){
            $.ajax({
              url: '/setsupport',
              async: false,
              dataType: "text",
              success: function (data) {
                $.fn.nyroModalManual({
                  content: $("#force_login").html(),
                  width: null,
                  height: null,
                  minWidth: 200,
                  minHeight: 220
                });
              }
            });

          })
        });
    </script>
  {% else%}
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $('#support_button').click(function(){
          $('#support_idea').submit()
        })
      });
    </script>
  {% endif %}


<div id="idea">
  <div id="header">
      <div id="idea_img">{% show_facebook_photo idea.owner 'q' 100  %}</div>
      <ul>
        <li>Ötletgazda: <b>{% show_facebook_name idea.owner %}</b> </li>
		<li>Típus:<b> {{idea.category}}</b></li>
        <li>Beküldés ideje: <b>{{idea.created|date:"Y.m.d"}}</b> </li>
        {% expr (idea.modified - idea.created) as diff %}
        {% if diff.days > 0%}
        <li>Módosítás ideje: <b>{{idea.modified|date:"Y.m.d"}}</b> </li>
        {% endif %}

        <li>Sorszám: <b>{{idea.serial|format_number:'%05d'}}</b> </li>
      </ul>
      <div id="statistics">
        <span class="title cufon">statisztikák<img src="{% media_url 'percent_icon.png' %}"></span>
        <ul>
          {% ifequal idea.owner user %}
          <li>Látogatók száma: <b>{{idea.visitors}}</b> </li>
		  {% ifequal idea.projekt.link "adecco" %}<li><a href="{% url creativeselector.views.send_idea idea.pk %}"> Módosítás </a></li>{% endifequal %}
          {% endifequal %}
          <li>Támogatók száma: <b>{{idea.supporters}}</b> </li>
		  
        </ul>
      </div>
<!-- {{user}} -->
    {% ifequal idea.projekt.link "adecco" %}
      {% if supportable %}
	<!--	
        <div id="support">
          <form action="{% url creativeselector.views.support_idea %}" method="post" id="support_idea" accept-charset="utf-8">
            <input type="hidden" id="id_tender_id" name="tender_id" value="{{idea.pk}}"/>
            <div class="idea_img" id="support_button">
			<img src="/media/images/big_like.jpg" border="0" onMouseOver="this.src='/media/images/big_like_over.jpg'" onMouseOut="this.src='/media/images/big_like.jpg'" >
			
            <div class="cufon">támogasd!</div></div>
          </form>
        
		</div>-->
      {% else %}

        <div id="support_hidden">
        </div>

      {% endif %}
	{% endifequal %}

      {% include 'clear.html' %}
  </div>

  <div class="row">
    <div class="header">
      Mire való?
    </div>
    <div class="text">

      {{idea.for_what|removetags:"div, span"|replace:"/<br>/<br><br>/"|video|safe}}
    </div>
  </div>
    

  <div class="row">
    <div class="header">
      Kinek szól?
    </div>
    <div class="text">
      {{idea.for_who|removetags:"div, span"|replace:"/<br>/<br><br>/"|video|safe}}
    </div>
  </div>

   <div class="row">
    <div class="header">
      Mitől fog hasítani?
    </div>
    <div class="text">
      {{idea.rulez|removetags:"div, span"|replace:"/<br>/<br><br>/"|video|safe}}
    </div>
  </div>
  
  <div class="row">
    <div class="header">
      Mi lehet a gubanc?
    </div>
    <div class="text">
      {{idea.fail|removetags:"div, span"|replace:"/<br>/<br><br>/"|video|safe}}
    </div>
  </div>
  
  {% ifnotequal idea.faceurl|striptags "" %}
  <!--<div class="row">
    <div class="header">
      Facebook oldal:
    </div>
    <div class="text">
      {{idea.faceurl|urlize|removetags:"div, span"|replace:"/<br>/<br><br>/"|video|safe}}
    </div>
  </div>
  
 
-->
  {% endifnotequal %}
  
  {% ifnotequal idea.competitors|striptags "" %}
  <div class="row">
    <div class="header">
      Versenytársak:
    </div>
    <div class="text">
      {{idea.competitors|urlize|removetags:"div, span"|replace:"/<br>/<br><br>/"|video|safe}}
    </div>
  </div>
  
 

  {% endifnotequal %}
  
  
  {% if idea.tenderimage_set.all %}
  <div class="row">
    <div class="header">
      Kapcsolódó anyagok:
    </div>
    <div class="text">
      {% for ideaimage in idea.tenderimage_set.all %}
           {% url adminupload.views.download_handler pk=ideaimage.pk model_info='creativeselector.tenderimage' field_name='file' as fallback_url  %}
           {% if ideaimage.file|filename|is_image %}
              <a class="lightbox" href="{% firstof ideaimage.file.file|public_download_url fallback_url as download_url %}">          
                <img src="{% firstof ideaimage.file|public_download_url fallback_url as download_url %}" height="100" alt="{{ ideaimage.file|filename }}" title="{{ ideaimage.file|filename }}">
              </a><br/>
            {% else %}
              <a href="{% firstof ideaimage.file|public_download_url fallback_url %}">          
                {{ ideaimage.file|filename }}
              </a><br/>
            {% endif %}
      {% endfor %}
    </div>
  </div>


  {% endif%}
  {% include 'clear.html' %}
  
  {% if related_ideas %}
  <!--<div class="row">
    <div class="header">
      Hasonló ötletek:
    </div>
    <div class="text">
       {% for related_idea in related_ideas %}
        <a href="{% url creativeselector.views.ideaentry related_idea.link %}">{{related_idea.short_title}}</a><br/><br/>
        {% endfor %}
    </div>
  </div>-->
  {% endif %}
  <br/><br/><br/>
  {% include 'clear.html' %}
  

    
  <div id="comments">
     {% if not logged_in %}  
        Új komment írásához be kell jelentkezned Facebook azonosítóddal. <br/><br/>
        {% show_connect_button %}
      {% else %}
        <fb:comments width="655" xid="{% facebook_comments_xid %}" migrated="1" ></fb:comments>
      {% endif %}<!---->
  </div>
  
  {% include 'clear.html' %}
</div>

  
<br/><br/>
<br/><br/>

  {% call 'widgets/sharing.html' with share_title=share_msg like='true' %}

  <!--<input type="text" value="{{full_url}}" style="width:300px;float:right;margin-top:30px"></input>-->


{% call 'widgets/back_button.html' %}

{% endblock %}

{% block content_bottom %}
{% endblock %}


