{% load facebook_tags %}
{% load replace format_number video expr %}
{% load filetransfers fieldtag object_value_by_name call media %}
<div class="content_tab cufon" style="page-break-before: always;">
  <div class="title">
      {{position}}. {{idea.short_title|striptags|truncchar:70}}
  </div>
  <div class="end"></div>
</div>
<div class="idea">
  <div class="status">
    <b>
	  
      {% show_facebook_name idea.owner %} |
    
      
      {% expr (idea.modified - idea.created) as diff %}
      {% if diff.days > 0  %}
        <span>módosítva: {{idea.modified|date:"Y.m.d"}}</span> |   
      {% else %}
        {{idea.created|date:"Y.m.d"}} | 
      {% endif %}
       
    </b>   
    támogatók: <b>{{idea.supporters}}</b>
  </div>
  
  <div class="details">
    <div class="idea_img">
      {% show_facebook_photo idea.owner 'q' '50' %}
    </div>
	<input type="hidden" value="{{idea.projekt.link|safe}}">
    <div class="title"><a href="{% url creativeselector.views.ideaentry idea.link %}">{{idea.short_title}}</a></div>

    <div class="text">
         {{idea.for_what|striptags|safe|truncatewords:10}}<a class="more" href="{% url creativeselector.views.ideaentry idea.link %}">&nbsp;tovább ››</a>
    </div>

    
    {% url creativeselector.views.ideaentry idea.link as idea_link %}
    {% call 'widgets/next_button.html' with url=idea_link %}

  </div>
</div>

