{% load facebook_tags replace %}

<div class="comment">
  <div class="idea_img">
    {% show_facebook_photo comment.user 'q' '50' %}
  </div>
  <div class="details">
    {{comment.user}}&nbsp;|&nbsp;{{comment.created|date:"Y.m.d H:i"}}
    
  </div>
  {% include 'clear.html' %}
  <div class="text">
    {{comment.content|removetags:"div span"|replace:"/<br>/<br><br>/"|safe}}
  </div>
  {% include 'clear.html' %}
</div>
{% include 'clear.html' %}