{% extends "base.html" %}

{% load facebook_tags expr call %}


{% block content %}
{% initialize_facebook_connect %}
<div id="content-bg_simple"  class="content-bg">
  <div id="content">
    {% for idea in ideas %}
     {% call 'idea/one_idea_top10.html' with position=forloop.counter %}
    {% endfor %}
  </div>

</div>

{% endblock %}

