﻿{% extends "simplecontent.html" %}
{% load replace video call %}
<div id="center_title" class="cufon">{% block content_tab %}Leíratkozás{% endblock %}</div>
  <div id="content2"> 
    


{% block content_text %}
<script type="text/javascript" charset="utf-8">
function validate(form_id) {
     resetForm(form_id);
	  var valid = is_empty(form_id, 'email', true);
	 if (valid) {
       $(f(form_id)).submit();
     }
    }

</script>
<form name="unsub_email" id="unsub_email" method="post" accept-charset="utf-8">
       <table class="registration_form">
          <tr>
            <th class="cufon">Leíratkozó email cím:</th>            
            <td><input id="email" name="email" type="text"/></td>
          </tr>
		   <tr><td colspan="3">
			<div style="float: right;">
                 <a href="javascript:validate('unsub_email');" style="color:#000; font-weight:bold;">{% call "widgets/back_button.html" with title="Leíratkozás" %}</a>
                <!--div style="background:white; border:1px solid black; padding:2px; margin:5px;">
                <a href="javascript:validate('unsub_email');" style="color:#000; font-weight:bold;">Leíratkozás</a>
                </div-->
              </div></td>
          </tr>
        </table>
     </form>
    

    
   </div>
{% endblock %}