{% extends "base.html" %}

{% load call expr %}
{% load filetransfers fieldtag object_value_by_name call %}
{% block main_wrapper %}
<div id="necc_wrapper">
  <div id="breadcrumb">
    <a href="/necc">NECC</a>&nbsp;›&nbsp;
    <a href="/necc/list/{{necc_category.link}}">{{necc_category}}</a>&nbsp;›&nbsp;
    {{necc_company.companyname}}
  </div>
  


  <div id="profile_card">
    <div id="left_row">
      <div id="pink_button">
        <div id="inner">
          {{necc_category.title|truncchar:20}}
        </div>
      </div>
      
      <div id="image">
        {% for ncimage in necc_company.necccompanyimage_set.all %}
             {% url adminupload.views.download_handler pk=ncimage.pk model_info='creativeselector.necccompanyimage' field_name='file' as fallback_url  %}
                  <img src="{% firstof ncimage.file|public_download_url fallback_url as download_url %}" height="100" alt="{{ ncimage.file|filename }}" title="{{ ncimage.file|filename }}">
        {% endfor %}
      </div>
      
      <div id="share_box">
        {% if necc_company.facebook_page %}
        <a href="{{necc_company.facebook_page|http}}" target="_blank">
          <img src="/media/images/necc_images/icon_fb.png"></img>
        </a>
        {% endif %}
        {% if necc_company.twitter %}
        <a href="http://www.twitter.com/{{necc_company.twitter}}" target="_blank">
          <img src="/media/images/necc_images/icon_twitter.png"></img>
        </a>
        {% endif %}
        <a href="#" target="_blank">
          <img src="/media/images/necc_images/icon_in.png"></img>
        </a>
        <a href="mailto:{{necc_company.email}}" target="_blank">
          <img src="/media/images/necc_images/icon_email.png"></img>
        </a>
      </div>
      <div style="float: left;">  
        {% if request.session.nc.id == necc_company.id and not request.session.uploaded and not first_time %}
          <div id="edit_profile" class="back_button button" onclick="$('#company_profile').show();$('#edit_profile').hide();">
          <span class="cufon">Szerkesztés</span>
          </div>
          {% include 'clear.html' %}
        {% endif %}
        <div id="back_button" class="back_button button" onclick="jump('/necc/list/{{necc_category.link}}')">
        « <span class="cufon">Vissza</span>
        </div>
        {% include 'clear.html' %}
      </div>
    </div>
  
    <div class="title cufon">
      {{necc_company.companyname}}
    </div>
    <div id="description">
      {{necc_company.description|safe}}
    </div>
    
    {% if necc_company.website %}
    <div class="title cufon">
      <a href="{{necc_company.website|http}}" target="_blank">{{necc_company.website}}</a>
    </div>
    {% endif %}
  </div>
  
  {% if similar_companies %}
  <div id="similar_companies">
    <div id="header" class="cufon">
      Hasonló cégek
    </div>
    {% for sc in similar_companies %}
      {% ifequal sc necc_company %}
      {% else %}
      <div class="item">
        {% for ncimage in sc.necccompanyimage_set.all %}
             {% url adminupload.views.download_handler pk=ncimage.pk model_info='creativeselector.necccompanyimage' field_name='file' as fallback_url  %}
              <a href="{{sc.get_absolute_url}}">
                  <img src="{% firstof ncimage.file|public_download_url fallback_url as download_url %}" height="100" alt="{{ ncimage.file|filename }}" title="{{ ncimage.file|filename }}">
              </a>
        {% endfor %}
        <div id="title">
          {{sc.companyname|truncchar:45}}<br/>
          <a href="{{sc.get_absolute_url}}">Bővebben ››</a>
        </div>
      </div>
      {% endifequal %}
    {% endfor %}
  </div>
  {% endif %}
  
  {% if first_time %}
  <div id="welcome" style="font-weight:bold;color: red;" class="hidden">
    Üdvözöljük, Ön először jár cége profil oldalán, kérjük, hogy adja meg további adatait, hogy véglegesítsük a jelentkezését.<br/><br/>
  </div>
  <script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#welcome').dialog({modal:true, title: 'Necc Felhasználási feltételek', width: 500, height: 100})
  });
  </script>
  
  {% endif %}
  
  {% if request.session.nc.id == necc_company.id %}
  {% if not first_time and not request.session.uploaded %} 
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $("#company_profile").hide();
    })
    </script>
  {% endif %}
  <div style="clear:both;">
    
  </div>
  <div id="company_profile">
    {% call 'necc/profile.html' with nc=request.session.nc with necc_categories=necc_categories %}
  </div>
  {% endif %}
  
  {% if necc_company.twitter %}
  <div id="twitter">
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 10,
          interval: 6000,
          width: 700,
          height: 300,
          theme: {
            shell: {
              background: '#ffffff',
              color: '#000000'
            },
            tweets: {
              background: '#ffffff',
              color: '#000000',
              links: '#b5c619'
            }
          },
          features: {
            scrollbar: true,
            loop: false,
            live: false,
            hashtags: true,
            timestamp: true,
            avatars: false,
            behavior: 'all'
          }
        }).render().setUser('{{necc_company.twitter}}').start();
        </script>
    
  </div>
  {% endif %}
   
    
  <div style="clear:both;"></div>
  
</div>
{% endblock %}