{% load fieldtag %}
{% load filetransfers fieldtag object_value_by_name call %}

<script type="text/javascript" charset="utf-8">
  

  function validate(form_id) {
     resetForm(form_id);

     var valid = is_empty(form_id, 'companyname', true);

     valid &= is_empty(form_id, 'description', true);

     valid &= is_empty(form_id, 'website', true);

     valid &= word_validator(form_id, 'description', 5, 200);

     if (gf(form_id, "category").val() == "{{please_choose}}") {
       im(form_id, "category", "Válassz kategóriát!");
     }

     if (gv(form_id, "password")!="") {
       valid &= is_not_same(form_id, 'password', 'password_again', true);
     }
    

     if (valid) {
       $(f(form_id)).submit();
     }
    } 

</script>


 <form name="necc_profile_form" id="necc_profile_form" action="/necc/profilom" method="post" accept-charset="utf-8">
   <div id="title" class="cufon">
    Profilom
   </div>
      <input type="hidden" name="id" value="{{nc.id}}" id="id_id">
       <table>
          <tr>
            <th>Cégnév:</th>
            <td class="mark">*</td>
            <td><input id="id_companyname" name="companyname" type="text" value="{{nc.companyname}}"/></td>
          </tr>
          <tr>
            <th>Tevékenységi kör:</th>
            <td class="mark">*</td>
            <td>
              <select id="id_category" name="category" type="text">
                <option label="{{please_choose}}"></option>
                {% for i in necc_categories %}
                <option label="{{i.title}}" value="{{i.id}}" {% ifequal i.id nc.category.id %}selected{% endifequal %}></option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <th>Rövid leírás:</th>
            <td class="mark">*</td>
            <td><textarea name="description" id="id_description">{{nc.description}}</textarea></td>
          </tr>
          <tr>
            <th>E-mail:</th>
            <td class="mark">*</td>
            <td><input type="text" name="email" id="id_email" value="{{nc.email}}" disabled/></td>
          </tr>
          <tr>
            <th>Weboldal:</th>
            <td class="mark">*</td>
            <td><input type="text" name="website" id="id_website" value="{{nc.website}}"/></td>
          </tr>
          <!--tr>
            <th>Jelszó:</th>
            <td class="mark">*</td>
            <td><input type="password" name="password" id="id_password"/></td>
          </tr>
          <tr>
            <th>Jelszó ismét:</th>
            <td class="mark">*</td>
            <td><input type="password" name="password_again" id="id_password_again"/></td>
          </tr-->
          <tr>
            <th>Kapcsolattartó:</th>
            <td class="mark"><img src="/media/images/non_public.png" width="10"/></td>
            <td><input type="text" name="contactperson" id="id_contactperson" value="{{nc.contactperson|field_value}}"//></td>
          </tr>
          <tr>
            <th>Telefon:</th>
            <td class="mark"><img src="/media/images/non_public.png" width="10"/></td>
            <td><input type="text" name="phone" id="id_phone" value="{{nc.phone|field_value}}"/></td>
          </tr>
          <tr>
            <th>Logo:</th>
            <td class="mark"></td>
            <td>
            {% for ncimage in nc.necccompanyimage_set.all %}
                 {% url adminupload.views.download_handler pk=ncimage.pk model_info='creativeselector.necccompanyimage' field_name='file' as fallback_url  %}
                      <img src="{% firstof ncimage.file|public_download_url fallback_url as download_url %}" height="100" alt="{{ ncimage.file|filename }}" title="{{ ncimage.file|filename }}">
            {% endfor %}
              <div class="button" onclick="popupWindow({ centerBrowser:1, width:300, height: 60, windowURL:'{% url             adminupload.views.reupload_inline_single pk=nc.pk model_info='creativeselector.necccompany' inline_model_info='creativeselector.necccompanyimage' field_name='image' %}'})">
                <span class="cufon">Feltöltés</span>
              </div>
  
            </td>
          </tr>
          <tr>
            <th>Facebook oldal:</th>
            <td class="mark"></td>
            <td><input type="text" name="facebook_page" id="id_facebook_page" value="{{nc.facebook_page|field_value}}"/></td>
          </tr>
          <tr>
            <th>Twitter azonosító:</th>
            <td class="mark"></td>
            <td><input type="text" name="twitter" id="id_twitter" value="{{nc.twitter|field_value}}"/></td>
          </tr>
          <tr>
            <td colspan="3" style="vertical-align: middle;line-height: 24px; padding-left: 115px;">
              <b>Feliratkozás a necc hírlevelére:</b>
              <input type="checkbox" name="newletter" id="id_newletter" style="width: 24px; padding-bottom: 5px;vertical-align: top;" {% if nc.newletter %}checked{% endif %}/>
            </td>
          </tr>
          <tr>
            <td colspan="3" style="vertical-align: middle;line-height: 24px; padding-left: 115px;">
              <b>Szívesen részt veszek a tevékenységi körömnel azonos projektek, pályázatok értékelésében:</b>
              <input type="checkbox" name="cooperate" id="id_cooperate" style="width: 24px; padding-bottom: 5px;vertical-align: top;" {% if nc.cooperate %}checked{% endif %}/>
            </td>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <td class="mark">&nbsp;</td>
            <td> 
              <div style="float: right;">
                <div id="cancel_button" class="necc_button" onclick="jump('/necc')">
                  
                </div>
                <div id="continue_button" class="necc_button" onclick="validate('necc_profile_form')">
                  
                </div>
              </div>
            </td>
          </tr>
        </table>
     </form>
