A Creative Selector közösségi innovációs műhely üdvözli az Ön vállalkozását / kezdeményezését a NECC adatbázisunkban!<br/>
<br/>
A NECC adatbázis célja, hogy népszerűsítse és támogassa az Ön cégéhez hasonló közösségi<br/>
alapon működő vállalkozások és kezdeményezések fejlődését.<br/>
<br/>
A Creative Selector folyamatosan hírt ad vállalkozása/kezdeményezése előrehaladásáról,<br/>
ezért amennyiben vállalkozásával kapcsolatos közlendőit eljuttatja hozzánk, azt mi szívesen<br/>
közzétesszük és terjesztjük a Creative Selector csatornáin.<br/>
<br/>
A jövőben számos olyan további fejlesztést tervezünk, amely mindinkább kihasználja a<br/>
Creative Selector egyre növekvő aktív és kreatív közösségi bázisát.<br/>
<br/>
Az alábbi linken belépve szerkesztheti profilja részleteit:<br/>
{{necc_profile_link}}<br/>
<br/>
Felhasználó neved: {{necc_username}}<br/>
Jelszavad: {{necc_password}}<br/>
<br/>
Amennyiben kérdése van szolgáltatásainkkal kapcsolatban, kérem, írjon nekünk az<br/>
info@creativeselector.hu címre.<br/>
<br/>
Üdvözlettel,<br/>
<br/>
A Creative Selector csapata<br/>
<br/>
www.creativeselector.hu