<script type="text/javascript" charset="utf-8">
  
  
  $(document).ready(function() {
    var mobile_filter = $("#mobile_filter");
    var web_filter = $("#web_filter");
    
    var is_filter = document.location.href.indexOf("/otlet_bekuldese") < 0;
    var is_disabled = document.location.href.indexOf("/fajl_feltoltese") > -1;
    
    is_web_cb = $("#id_is_web");
    is_mobile_cb = $("#id_is_mobile");
  
    
    // ha szurokent funkcional, akkor ugrunk, ha nem, akkor csak pipalunk
    mobile_filter.click(function() {
      if (!is_disabled && is_filter) {
        if (mobile_filter.hasClass("selected")) {
          jump("{% url creativeselector.views.ideas 'mindegy' 1 %}")
        } else {
          jump("{% url creativeselector.views.ideas 'mobile' 1 %}")
        }
       
      } else 
      if (!is_disabled)
      {
        if (mobile_filter.hasClass("selected")) {
          mobile_filter.removeClass("selected");
          if (is_mobile_cb) { is_mobile_cb.attr('checked', false); }
        } else {
          mobile_filter.addClass("selected");
          web_filter.removeClass("selected");
          if (is_web_cb) { is_web_cb.attr('checked', false); }
          if (is_mobile_cb) { is_mobile_cb.attr('checked', true); }
        }
        checkBoth();
      }
    });

    function checkBoth() {
      if (!web_filter.hasClass("selected") && !mobile_filter.hasClass("selected")) {
         $("#idea_type").html("nincs kiválasztva");
      } else if (web_filter.hasClass("selected")) {
        $("#idea_type").html("web");
      } else if (mobile_filter.hasClass("selected")) {
        $("#idea_type").html("mobil");
      }
    }

    web_filter.click(function() {
      if (!is_disabled && is_filter) {
          if (web_filter.hasClass("selected")) {
            jump("{% url creativeselector.views.ideas 'mindegy' 1 %}")
          } else {
            jump("{% url creativeselector.views.ideas 'web' 1 %}")
          }
      } else 
      if (!is_disabled)
      {
        if (web_filter.hasClass("selected")) {
          web_filter.removeClass("selected");
          if (is_web_cb) { is_web_cb.attr('checked', false); }
        } else {
          web_filter.addClass("selected");
          mobile_filter.removeClass("selected");
          if (is_web_cb) { is_web_cb.attr('checked', true); }
          if (is_mobile_cb) { is_mobile_cb.attr('checked', false); }
        }
        checkBoth();
      }
    });
    
    // ugras utan megnezzuk, hogy hova ugrottunk es aszerint pipalunk
    var is_mobile_js = document.location.href.indexOf("/otletek/szuro/mobile/oldal")>-1;
    var is_web_js = document.location.href.indexOf("/otletek/szuro/web/oldal")>-1;
    
    if (is_mobile_js {% if idea.is_mobile %}|| true{% endif %}) {
      mobile_filter.addClass("selected");
      if (true {% if idea.is_mobile %} && false{% endif %}) {
        $("#tabtitle").html("ötletek - mobil")
      }
      
    } 
    
    if (is_web_js {% if idea.is_web %}|| true{% endif %}) {
      web_filter.addClass("selected");
      if (true {% if idea.is_web %}&& false{% endif %}) {
        $("#tabtitle").html("ötletek - weboldal")
      }
    }
    
    checkBoth();


  });
</script>

<div id="filter">
  <div class="filter">
    <div id="title" class="cufon">
      {% if form %} 
        Válaszd ki milyen eszközre álmodtad meg ötledet!
      {% else %}
        Válaszd ki milyen ötletek érdekelnek!
      {% endif %}
    </div>
    <div id="subtitle" class="cufon">
      szűrő:
    </div>
    <div id="cat1" class="cufon">
      web
    </div>
    
    <div id="cat2" class="cufon">
      mobil
    </div>
    
    <div id="mobile_filter">
      
    </div>

    <div id="web_filter">
    </div>

  </div>
  {% include 'sorter.html' %}
</div>