﻿ <link rel="stylesheet" type="text/css" href="/media/generated/main-f95d582276983f671e8a9b7103462ed313aeb038.css" />
    <script type="text/javascript" src="/media/generated/main-ac6c91e7124c6a666c8a098cfd155df8403f9ec3.js"></script>
	
<div id="admin_menu">
<div class="passiv"><a href="{% url creativeselector.views.list_all_comments %}">Kommentek</a></div>
<div class="activ">Projekt <br/>Finanszírozások</div>
<div class="passiv"><a href="{% url creativeselector.views.admin_new_proj %}">ÚJ Projektek</a></div>
<div class="passiv"><a href="{% url creativeselector.views.mosttender_admin %}">Kiemelt Projektek</a></div>
<div class="passiv"><a href="{% url creativeselector.views.admin_end_projs %}">Lejárt Projektek</a></div>
<div class="passiv"><a href="{% url creativeselector.views.admin_names %}">E-mail címek</a></div>
</div>
<style type="text/css" charset="utf-8">
<!--
body{background:None;}
table,td,th,tr{border: 1px solid; font-size:11px;
border-collapse: collapse;
border-spacing: 0px;
background:#ffffff;}
-->
</style>

<table style="border:none; width:90%;">
<tr style="border:none; width:90%;">
	<td style="border:none;  text-align:center;"><a href="{% url creativeselector.views.admin_projs %}">projekt összesítés</a></td>
	<td style="border:none; text-align:center;"><a href="{% url creativeselector.views.admin_sups %}">támogatók összesítés</a></td>
	<td style="border:none; text-align:center;"><a href="{% url creativeselector.views.admin_budget %}">pénzmozgás összesítés</a></td>
</tr style="border:none; width:90%;">
</table>
<br/>
<br/>
<p style="font-weight:bold;">{{proj.short_title}}</p>
<p><table>
<tr><th>Projekt azonosító</th><td>{{proj.pk}}</td></tr>
<tr><th>Beküldő Azonosítója</th><td>{{proj.owner.pk}}</td></tr>
<tr><th>Beküldő Neve</th><td>{{proj.owner.last_name}} {{proj.owner.first_name}}</td></tr>
<tr><th>Beküldő E-mail címe</th><td>{{proj.owner.email}}</td></tr>
<tr><th>Beküldő Telefonszáma</th><td>{{proj.tel_no}}</td></tr>
<tr><th>Projekt számlaszáma</th><td>{{bud.invoice_no}}</td></tr>
<tr><th>Gyűjtés vége</th><td>{{proj.expiry}}</td></tr>
<tr><th>Aktuális hátralévő idő</th><td>{{left}} nap</td></tr>
<tr><th>Támogatók száma</th><td>{{sups|length}}</td></tr>
<tr><th>Kategória</th><td>{{proj.category}}</td></tr>
<tr><th>Helyszín</th><td>{{proj.location}}</td></tr>
<tr><th>Teljesülés százaléka</th><td>{{percent}}%</td></tr>

</table></p>
<p><table>
<tr><th>Azonosító</th><th>Tranzakció id</th><th>Engedély szám</th><th>Név</th><th>Posta cím</th><th>E-mail címe</th>
<th>Kér-e ajándékot</th><th>Nyílvános név</th><th>Nyílvános összeg</th><th>Befizetés dátuma</th><th>Összege</th></tr>
	{% for sp in sups %}
	<tr>
		<td>{{sp.user.pk}}</td>
		<td>{{sp.trid}}</td>
		<td>{{sp.anum}}</td>
		<td>{{sp.user.last_name}} {{sp.user.first_name}}</td>
		<td>{{sp.zipcode}} {{sp.city}} {{sp.adress}}</td>
		<td>{{sp.user.email}}</td>
		<td>{% if sp.pres  %}{{sp.pres.pk}}{% else %}Nem{% endif %}</td>
		<td>{% ifequal sp.visibility 1 %}igen{% else %}{% ifequal sp.visibility 2 %}igen{% else %}Nem{% endifequal %}{% endifequal %}</td>
		<td>{% ifequal sp.visibility 1 %}igen{% else %}Nem{% endifequal %}</td>
		<td>{{sp.date|date:"Y.m.d H:i:s"}}</td>
		<td>{{sp.money}} Ft</td>
	</tr>
	{% endfor %}
	<tr style="border-top:3px solid;">
		 <td style="font-weight:bold">Összesen</td>
		 <td>&nbsp;</td>	 
		 <td>&nbsp;</td>	 
		 <td>&nbsp;</td>	 
		 <td>&nbsp;</td>	 
		 <td>&nbsp;</td>	 
		 <td>&nbsp;</td>	 
		 <td>&nbsp;</td>	 
		 <td>&nbsp;</td>	 
		 <td>&nbsp;</td>	 
		 <td>{{allsups}} Ft</td>
		</tr>
		<tr >
		 <td style="font-weight:bold">Átlag</td>
		<td>&nbsp;</td>	 
		 <td>&nbsp;</td>	 
		 <td>&nbsp;</td>	 
		 <td>&nbsp;</td>	 
		 <td>&nbsp;</td>	 
		 <td>&nbsp;</td>	 
		 <td>&nbsp;</td>	 
		 <td>&nbsp;</td>	 
		 <td>&nbsp;</td>	 
		 <td>{{avgsups}} Ft</td>
	</tr>
</table><p>
<p>
Utalandó összegek
<br/>
<br/>
<table>
	<tr>
		<th>Newtonesnak</th><td>{{ourmoney}} Ft</td>
	</tr>
	<tr>
		<th>Projekt Gazdának</th><td>{{ownermoney}} Ft</td>
	</tr>
</table></p>

<hr>
<p style="text-align:center;"><a href="/">Főoldal</a></p>