{% load  video %}
<style type="text/css" media="screen">
		<!--
		.slides_container {
			width:578px;
			display:none;
			padding-bottom:15px;
		}

		.slides_container div.slider {
			width:598px;
			height:265px;
			display:block;
		}
		.pagination {
			list-style:none;
			margin:0;
			padding:0;
			float:left;
			display:inline;
		}
		.prev{float:left}
		.prev, .next{color: lime; font-weight:bolder; }
		.pagination li{ float:left; margin:0 3px; display:inline; }
		.pagination a{ color: lime; background-color:lime; padding: 0 4px; }
		.pagination a:hover{ color: green; background-color:green;}
		.pagination .current a {color: green; background-color:green;} 
		 .blog strong, .blog b{ font-weight:normal;}
		 .blog{width:578px;}
		#main_page{min-height:380px;
		}
		#left_blog{
			display:inline;
			float:left;
			width:578px;
			background: url('/media/images/potty_fuggoleges.jpg') repeat-y right;
			padding-right:5px;
		}
		#right_sajto{
			margin-left:15px;
			display:inline;
			float:left;
			width:374px;
		}
		.nemtom{height:300px;}
		-->
		
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script src="/media/js/slides.min.jquery.js"></script>
<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				generateNextPrev: true,
				container: 'slides_container',
				preloadImage: '/media/images/loading.gif',
				//generatePagination: false,
				paginationClass: 'pagination',
			});
		});
	</script>
<div id="main_page" style="margin-bottom:48px;">
    <div id="left_blog">
	<div class="title">
      <a id="click_for_more" href="{% url creativeselector.views.blog 1 %}">BLOG BEJEGYZÉSEK</a>
    </div>
    
    <p style="background:url('/media/images/potty_vizszintes.jpg'); height:1px; width:100%;"></p>
	<div id="slides">
	<div class="slides_container">
      {% for img,blog in side_blogs %}
	  <div class="slider">
	  <div class="blog">
        
          <div class="title"><a href="{% url creativeselector.views.blogentry blog.link %}">{{blog.title}}</a></div>
          <div class="text">
			<table style="width:578px;"><tr>
			{% if img %}<td style="display:inline;width:150px; float:left; padding-right:10px;"><a href="{% url creativeselector.views.blogentry blog.link %}"><img src="{{img}}" style="max-width:150px;"></a></td>{% endif %}
			<td style="display:inline;">
					{% if blog.content %}{{blog.content|safe}}{% endif %}
					
			</td></tr></table>
          </div>
       </div>
       </div>
      {% endfor %}
	  </div>
	  </div>
	  <p style="background:url('/media/images/potty_vizszintes.jpg'); height:1px; width:100%;"></p>
	  </div>
	  <div id="right_sajto">
	  <div class="title">
      <a id="click_for_more" href="/sajto">SAJTÓ</a>
    </div>
	<p style="background:url('/media/images/potty_vizszintes.jpg'); height:1px; width:100%;"></p>
	<div class="nemtom">
	<ol>
	<li><a target="_blank" href="http://www.mixonline.hu/Cikk.aspx?id=63059">http://www.mixonline.hu/Cikk.aspx?id=63059</a></li>

<li><a target="_blank" href="http://cultura.hu/aktualis/dijazzak-a-kreativ-otleteket/">http://cultura.hu/aktualis/dijazzak-a-kreativ-otleteket/</a></li>

<li><a target="_blank" href="http://www.bellacafe.hu/2012/01/24/ezt-add-ossze-elindult-a-creative-selector/">http://www.bellacafe.hu/2012/01/24/ezt-add-ossze-elindult-a-creative-selector</a></li>

<li><a target="_blank" href="http://www.zsiraf.hu/site/index/article/id/21678">http://www.zsiraf.hu/site/index/article/id/21678</a></li>

<li><a target="_blank" href="http://infovilag.hu/hir-22704-creative_selector_otletkovacsok_kozosseg.html">http://infovilag.hu/hir-22704-creative_selector_otletkovacsok_kozosseg.html</a></li>


	</ol>
	</div>
	<p style="background:url('/media/images/potty_vizszintes.jpg'); height:1px; width:100%;"></p>
	  </div>
</div>