{% load call %}
<div id="content-bg_" class="content-bg">
  <div id="content_top_note">
  </div>
  
  <div id="note">
    <span class="cufon">
      Határidő:<br/>
      2010.10.24.<br/>
      <div id="link"></div>
      <a href="/reszletes_kiiras#jelentkezesi_feltetelek">Jelentkezési</a><br/>
      <a href="/reszletes_kiiras#jelentkezesi_feltetelek">feltételek</a>   
    </span>››
  </div>

  <div class="cufon" style="position: absolute; font-size: 15px; color: #555454; margin-left: 84px; top: 15px;">
    Pályázati felhívások:
  </div>
  
  <div id="content">
    {% call "widgets/tab.html" with title='1.#ötletek#határok#nélkül' %}
    <b> Az „Ötletek határok nélkül” című versenyünket 2010. október 24-én lezártuk!</b>
    <br/><br/>
    <p>A beküldött ötletek értékelésére és az <a href="/media/images/meghivo_tagoknak.jpg" class="lightbox" id="meghivo">eredményhirdetésre</a> november 4-én a Petőfi<br/>
    Sándor utcai FUGA építészeti központban kerítünk sort. 
    </p><br/>

    <p>Az eredményhirdetés végéig nem áll módunkban új ötleteket és támogatásokat<br/>
    fogadni! A korábban beküldött ötletek azonban addig is szabadon böngészhetők.<br/></p><br/>

    <p>Mindenkinek köszönjük, aki valamilyen formában részt vett a Creative Selector első<br/>
    kezdeményezésében.</p>
    {% include 'clear.html' %}
  </div>
  <div id="content_bottom">
    <div id="inner">
      {% url creativeselector.views.send_idea as send_idea %}
      <a href="{% url creativeselector.views.detailed_tender %}"> Részletes pályázati felhívás ››</a>
    </div>
  </div>
  

</div>