{% load call %}
<style type="text/css" charset="utf-8">
<!--
#tabla{background:url("/media/images/tabla.jpg") no-repeat -2px 0; margin-left:76px; margin-top:5px; height:287px; width:713px;} #tabla #tabla_cont{position:relative;color:#ffffff; font-size:27px; text-align:center; padding-left:44px; padding-top:34px; width:616px; *width:660px; height:166px;}
#tabla #top_click{background:url("/media/images/top_55.png") no-repeat 0 0; position:absolute; cursor:pointer; text-align:center; font-size:16px; top:209px; padding-top:5px; left:259px; width:324px; height:29px;}
#content #main_page{background:url("/media/images/main_bcg.png") no-repeat 0 0; font-weight:bold; color:#696969;} #content #main_page p{padding-top:10px;}
-->
</style>
<div id="tabla">
  <div class="cufon"  id="tabla_cont">
  {{tabla.content|safe}}
  </div>
  <div id="top_click" onClick="jump('/top5_5');" class="cufon">döntős ötletek</div>
  </div>
<div id="content-bg_" class="content-bg">
  
  
  <div id="content_top_note">
  </div>
  
 

  <!--<div class="cufon" style="position: absolute; font-size: 15px; color: #555454; margin-left: 84px; top: 15px;">
    Pályázati felhívások:
  </div>-->
  
  
  <div id="content">
    {% call "widgets/tab.html" with title='Dolgozz#okosan!' %}	 
	  
	<div id="main_page"> 
      <p><img src="/media/images/ppl.png" style="float:left; margin:5px; padding-top:0px;">Várjuk ötleteidet <a href="/peldak">online közösségi oldalak</a><br/> 
      és <a href="/peldak">mobil alkalmazások</a> elkészítéséhez,<br/> 
      felfuttatásához! </p>
   
     <p style="margin-top:20px;"> Kategória:</p>
   
	 <p style="margin-left:37px;">1. Munkát keresel nem tudod mi alapján dönts?</p>
  
     <p style="margin-left:37px; padding-top:7px;">2. Közösségi alapon szerveződő vállalkozás kialakítása</p>
    
     <p> Megjegyzés: A legnépszerűbb ötletek megvalósításához pénzügyi támogatást biztosítunk!</p>
    </div>     
	 
  </div> 
 
  <div id="content_bottom">
    <div id="inner">
      {% url creativeselector.views.send_idea as send_idea %}
      <a href="{% url creativeselector.views.detailed_tender %}"> Részletes pályázati felhívás ››</a>
    </div>
  </div>
  

</div>



