<style  type="text/css" charset="utf-8">
<!--
#counter #counter_holder_new{
	background: url("/media/images/counter_bg.png") no-repeat scroll 7px 5px transparent;
    color: #414042;
    font-size: 46px;
    font-weight: bold;
    height: 61px;
    width: 239px;
}
#counter #counter_holder_new .unit{
      padding-top: 24px;
      float: left;
      text-align: right;
}
#counter #counter_holder_new #days{
      width: 57px;
      margin-right: 15px;
}
#counter #counter_holder_new #hours{
      width: 55px;
      margin-right: 15px;
}
 #counter #counter_holder_new #minutes{
      width: 84px;
}
-->
</style>

<script type="text/javascript" charset="utf-8">
/*dateFuture1 = new Date(2011,4,7,0,0,0);


function GetCount(ddate,iid){

	dateNow = new Date();
	amount = ddate.getTime() - dateNow.getTime();
	delete dateNow;

	
		days=0;hours=0;mins=0;out="";

		amount = Math.floor(amount/1000);

		days=Math.floor(amount/86400);
		amount=amount%86400;

		hours=Math.floor(amount/3600);
		amount=amount%3600;

		mins=Math.floor(amount/60);
		amount=amount%60;

		out='<div id="days" class="unit">'+(days<=9?'0':'')+days+'</div><div id="hours" class="unit">'+(hours<=9?'0':'')+hours +'</div> <div id="minutes" class="unit">'+(mins<=9?'0':'')+mins +'</div>';
		document.getElementById(iid).innerHTML=out;

		setTimeout(function(){GetCount(ddate,iid)}, 1000);
	
}

window.onload=function(){
	GetCount(dateFuture1, 'counter_holder_new');
	
};*/
</script>

<div id="counter">
  <div id="title" class="title cufon">
    Visszaszámláló
  </div>
  <div id="counter_holder">
    
  </div>
  <div id="subtitle" class="title cufon">
    múlva lezárul a pályázat!
  </div>
</div>