{% extends "simplecontent.html" %}

{% load call %}

{% block first_side %}
  {% include 'facebook_like.html' %}
{% endblock %}

{% block second_side %}
  {% include 'nyeremeny.html' %}
{% endblock %}

{% block third_side %}
  {% include 'mentors.html' %}
{% endblock %}

{% block fourth_side %}
  
{% endblock %}

{% block content_top %}
<div id="content_top" >
  <img src="/media/images/detailed_lamp.png" alt="" style="margin-left:74px;float:left;" height="60" align="left"><div style="text-align: center;float:left;letter-spacing:0px;font-size:31px;padding-top: 30px;">
    DOLGOZZ OKOSAN!
  </div>
  {% include 'clear.html' %}
</div>
{% endblock %}
 
{% block content_tab %}Dolgozz okosan!{% endblock %}
{% block content_text %}
       <p>A <b>CreativeSelector.hu innovációs műhely</b> az <b>ADECCO Magyarország</b> nemzetközi HR- szolgáltató céggel közösen <b>nyílt ötlet pályázatot</b> 
	   hirdet <b>olyan innovatív közösségi média megoldásokra, amelyek a mai mobil és közösségi média platformokban rejlő lehetőségekre épülnek és megfelelnek az alábbi elvárásoknak:</b></p><br/>


   <div id="jelentkezesi_feltetelek">
     {% call "widgets/tab.html" with title="Pályázható#kategóriák" %}
   </div>
       <p>
      <b>1. Munkát keresel? Esetleg nem tudod mi alapján dönts?</b><br/><br/>
      
      <div style="margin-left: 20px;">
        <b>Téma:</b> olyan webes tartalmak kialakítására, fejlesztésére várjuk ötleteidet, amelyek munkahelyet kereső vagy váltás előtt álló <br/>
        aktív felhasználói közösséget vonzanak és tartanak össze. Minél professzionálisabb és a napi életben is használható és hasznos<br/>
        modellt találsz ki, annál jobb. Külön előny, ha az oldaladhoz mobil-alkalmazás is párosítható.
      </div><br/>
      
      <div style="margin-left: 20px;">
        <b>Kategória:</b> karrier, állás, szakmák (Ha az ötleted ebbe a témába illik, a beküldésénél ezt a kategóriát jelöld)
      </div><br/>
         <a href="{% url creativeselector.views.examples %}"> Példákat itt találsz</a>  
	  <br/><br/>
    
	<div class="cufon" style="color:#b3c635;font-size:16px;margin-bottom:5px;">VAGY</div>
	</p>
	
    <p>
      <b>2. Közösségi alapon szerveződő vállalkozások kialakítása</b><br/><br/>
      
      <div style="margin-left: 20px;">
        <b>Téma:</b> olyan üzleti szolgáltatásokra (lásd. NECC cégek) várjuk ötleteidet, amelyek a web, mobil és közösségi média hálózatokra<br/>
        épülve aktív közösséget tartanak össze, nem csak munkahelykeresés témában. Ezek a vállalkozások hozzájárulnak az atipikus<br/>
        munkaformák (nem a tradicionálisan 8-5 –ig. tartó kötött munka) hazai elterjedéséhez.
      </div><br/>
      
      <div style="margin-left: 20px;">
        <b>Kategória:</b> itt nem határoztunk meg tevékenységi területet, ezért a legördülő menüből válaszd az ötletedhez leginkább<br/> közelebb eső kategóriát. Amennyiben egyikbe sem passzol, válaszd a Vegyes kategóriát.
      </div><br/>

      <div style="margin-left: 20px;">
        <b>Üzleti szempont:</b> gondold át, hogy kik lesznek majd az oldalad állandó felhasználói, hogyan szólítod meg őket és miért<br/>fognak a Te szolgáltatásodért fizetni.
      </div><br/>
         <a href="{% url creativeselector.views.examples %}"> Példákat itt találsz</a>  

    </p>
   

   {% call "widgets/tab.html" with title="Megjegyzés" %}
   Az általatok korábban létrehozott, jelenleg is működő közösségi célú weboldalak vagy alkalmazások továbbfejlesztésére is küldhettek ötleteket. Azonban fontos, hogy az oldalon/alkalmazáson tervezett fejlesztés, lényegesen átalakítsa az oldal/alkalmazás jelenlegi működési formáját és bővítse annak funkcionalitását. A jelenleg is működő weboldalak/ alkalmazások általános célú fenntartásához támogatás nem igényelhető!

   {% call "widgets/tab.html" with title="Bárki#pályázhat" %}
   Pályázatunk a korábbiakhoz hasonlóan bárki számára nyitott, aki elég elszánt, hogy megvalósítsa saját ötletét.

   {% call "widgets/tab.html" with title="Hogyan#küldheted#be#öltetedet?" %}
   Az ötleted beküldéséhez egy rövid, max. 2 oldalas leírást várunk, ehhez formai iránymutatást kapsz az „ötlet beküldése” gomb megnyomásakor a CreativeSelector.hu oldalon. Az ötleted mellé, szívesen veszünk rajzot, fotót, videót, vagy bármit, ami segít másoknak jobban megérteni az elképzelésedet. Az ötleted a beküldést követően nyilvánosságra kerül, hogy azt mások véleményezni tudják. Ötleted a Facebook azonosítód megadását követően töltheted fel, külön regisztrációra nincs szükség.<br/>
Azonosítódat a közösségi oldalak bizalmasan kezelik, azokhoz mi nem férünk hozzá, adataidat a lehető legnagyobb körültekintéssel kezeljük. <a href="/impresszum">Itt</a> olvashatsz az adatvédelmi és adatkezelési politikánkról.

   {% call "widgets/tab.html" with title="A#kiválasztás#szempontja" %}
   Azok a projektek nyernek, amelyek a <b>2011. május 6</b>-i határidőig a legtöbb Támogatót gyűjtötték, és összhangban a mentorok szavazatával reális üzleti modellt képviselnek, valamint gyorsan piaci termék válhat belőlük.
   A támogatói szavazatok száma szerint a TOP 10 legnépszerűbb ötlet (pályázati kategóriánként 5 db ötlet) kerül a mentoraink elé, 
   akik a két pályázati kategóriából 2-2 díjazottat választanak. Az egyes kategóriákon belül az <b>Adecco Magyarország a 
   két legjobb ötletnek 400.000 Ft, míg a két második ötletnek 200.000 Ft-ot ajánl fel.</b>

   {% call "widgets/tab.html" with title="Támogatás" %}
  Támogatóid azokból az ismerősökből és ismeretlenekből lesznek, akik szavazatukkal (TÁMOGATOM!) támogatják az ötleted megvalósítását. Érvényes Támogatói szavazatnak csak a Creative Selector oldalán keresztül leadott szavazatokat fogadjuk el. <br/>Az első körben a beküldést követően népszerűsítened kell az ötleted, hogy lássuk valóban van-e egy olyan kritikus tömeg, amely használni szeretné majdani termékedet.<br/><br/>
Azt, hogy a saját ötleteidet hogyan népszerűsíted, rád van bízva, csinálhatsz neki saját Facebook oldalt, blog- ot, vagy akár videót is, és a közösségi oldalakon keresztül toborozhatsz Támogatókat. Javasoljuk, hogy az ötleted feltöltésével egy időben a Facebookon alakítsd ki ötleted saját oldalát, hogy a verseny alatt megszerzett támogatóidat a későbbiekben is könnyen meg tudd majd szólítani.
   <br/>
   {% call 'widgets/back_button.html' %}
{% endblock %}

{% block content_bottom %}
  <div id="inner">
    {% url creativeselector.views.send_idea as send_idea %}
    {% call "widgets/green_button.html" with title='Pályázok!' url=send_idea %}
  </div>
{% endblock %}