{% extends "simplecontent.html" %}

{% load filetransfers fieldtag call %}

{% block content_tab %}példák a pályázati kategóriákhoz{% endblock %}

{% block content_text %}

  {% for example in examples %}
    <div>
        <b>{{example.title}}</b><br/>
            {% if example.image %}
            {% url adminupload.views.download_handler pk=example.pk model_info='creativeselector.example' field_name='image' as fallback_url  %}

            <a class="lightbox" href="{% firstof example.image|public_download_url fallback_url %}" title="{{example.title}}">          
              <img class="example_img" src="{% firstof example.image|public_download_url fallback_url %}" alt="{{example.title}}" title="{{example.title}}" />
            </a>
            {% endif %}
            {% include "clear.html" %}
        {{example.content|safe}}  
        <br/>
        {% include "clear.html" %}
        <a href="{{example.website}}" target="_blank">{{example.website}}</a>
        <br/>
        <br/>
        <br/>
    </div>
    {% endfor %}


  {% call 'widgets/back_button.html' %}

{% endblock %}
