{% load media get_setting %}
{% get_setting ACTUAL_PROJEKT_ID as actual_projekt_id %}
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {


  });
</script>

<div id="filter2">
  
  {% include 'sorter.html' %}

</div>