{% extends "simplecontent.html" %}



{% block content %}

  {% block banner %}
    {% include 'filter.html' %}
  {% endblock %}

  <div id="content-bg_simple"  class="content-bg">
    <div id="content">
      
      <div class="content_tab cufon">
        <div class="title">
            {% block content_tab %}pályázati felhivás{% endblock %}
        </div>
        <div class="end"></div>
      </div>
         
      {% block content_text %}
      {% endblock %}
    </div>
    <div id="content_bottom">
      {% block content_bottom %}
      {% endblock %}
    </div>
  </div>

{% endblock %}