{% load facebook_tags %}
{% load media get_setting %}

{% get_setting ACTUAL_PROJEKT_ID as actual_projekt_id %}

<div id="fresh_ideas" class="idea_sidebox">
  <div id="title" class="cufon">
    Legújabb ötletek
  </div>
  
  {% if fresh_ideas %}
  {% for idea in fresh_ideas %}
    <div class="one_fresh_idea_row">
      <div class="number cufon">
        {{forloop.counter}}
      </div>
      <div class="description"><input type="hidden" value="{{idea.projekt.link|safe}}">
        <a href="{% url creativeselector.views.ideaentry idea.link %}">{{idea.short_title|truncchar:30}}</a><br/>
        {% show_facebook_name idea.owner %} | <span>{{idea.supporters}} támogató!</span>
      </div>
    </div>
  {% endfor %}
  <a class="more" href="{% url creativeselector.views.ideas actual_projekt_id 'mindegy' 1 %}">További ötletek ››</a>
  {% endif %}
  
</div>