{% load media get_setting %}
{% load facebook_tags %}
{% load replace video call %}
				
<script type="text/javascript" charset="utf-8">
	$(document).ready(function () {
		$('.simpledialog').simpleDialog(
		{containerClass:'login_box',
		showCloseLabel: false,
		width:420,
		height:120,
		open:function(){
			// hide any flash objects
			$('iframe').css('visibility', 'hidden');
		},
		close: function(){
			// show any flash objects
			$('iframe').css('visibility', 'visible');
			//
			if ($('#forget').val() =='clicked')
			{
				$('#forget_box').dialog({modal:true, width: 420, height: 250});
			}
		}
		
		});
		
	 });
	
	 
 function validate_login(form_id) {
     resetForm(form_id);

     var valid = is_empty(form_id, 'email', true);

    // valid &= is_empty(form_id, 'password', true);

     if (valid) {
       $(f(form_id)).submit();
     }
    } 
	
 function forgotpass(form_id) {
	var email=$('#email').val()
	if (email=='e-mail'){$('#email').val("")}
	else{
     resetForm(form_id);

     var valid = is_empty(form_id, 'email', true);

     $('#forgot').val('True');
	 $('#password').val('password');

     if (valid) {
       $(f(form_id)).submit();
     }
    } 
}

</script>
{% initialize_facebook_connect %}
<div id="menu">
	<div id="login_text">
		<div id="login">
		{% if not logged_in %}
		<p><a href="#" rel="login_box" class="simpledialog">{% if is_english %}LOGIN{% else %}BELÉPÉS{% endif %}</a></p>
		<p><a href="/user_reg">{% if is_english %}REGISTRATION{% else %}REGISZTRÁCIÓ{% endif %}</a></p>
			
		
	<div id="login_box" class="hidden login_box">
	<div style="float:right;margin-bottom:5px;"> <a href="#" style="background:#ffffff;" class="close">X</a></div>
		<form name="login_form" action="/user_log" id="login_form" method="post" accept-charset="utf-8">
		<input type="text" class="login" id="email" name="email" value="e-mail" onfocus="this.value=''">
		<input type="password" class="login" id="password" name="password" value="jelszó" onfocus="this.value=''">
		<input type="hidden"  id="forget" name="forget" value="">
		<a href="javascript:validate_login('login_form');"><img style="position:relative; top:5px;" src="/media/images/belepes_btn.png"></a>
		</form>
		<hr style="border:none; height:2px; background:#ffffff;">
		
		<form id="facebook_login" action="{% url facebook_connect %}?facebook_login=1" method="post" style="background:#fff; padding:5px;">
			<a href="javascript:void(0);" onclick="F.connect(this.parentNode);">
			  <img src="/media/images/fbicon.png"> {% if is_english %}Login with Facebook account{% else %}Belépés facebookos azonosítóval{% endif %}
			</a>

		</form>
		<div style="font-size:10px; font-weight:bold; width:100px; margin-right:15px; float:right;"><a href="#" onclick="$('#forget').val('clicked')" style="color:white;" rel="forget_box" class="forgot_pass close">{% if is_english %}FORGET MY PASSWORD{% else %}ELFEJELTETTEM A JELSZAVAMAT{% endif %}</a></div>
	</div>
	<div id="forget_box" class="hidden login_box">
	<p style="font-size:12px;">{% if is_english %}Give your e-mail adress, we will send you a link to login.{% else %}Add meg az email címed. Hamarosan küldünk egy linket, ahol beléptetünk.{% endif %}</p>	
		<form name="login_form2" action="/user_log" id="login_form2" method="post" accept-charset="utf-8">
		<input type="text" id="email" name="email" value="e-mail" onfocus="this.value=''" style="border:1px solid black;">
		<input type="hidden" id="password" name="password" value="jelszó">
		<input type="hidden"  id="forgot" name="forgot" value="True">
		{% call "widgets/button.html" with title="Elküldés" click="forgotpass('login_form2');" %}
		</form>
		
		
	</div>
		{% else %}
		<p style="font-size:14px; font-weight:bold">{% if is_english %}Logged in{% else %}Belépve{% endif %}</p>
		<div id="idea_img" style="font-size:12px; font-weight:bold; color:#00dd00;">{% show_facebook_photo user %} &nbsp; <a href="/profilom" style="color:#0d0;">{{user.last_name}} {{user.first_name}}</a></div>
		{% if user.is_staff %}<p><a href="{% url creativeselector.views.admin_projs %}">Admin</a></p>{% else %}{% if user.is_superuser %}<p><a href="{% url creativeselector.views.admin_new_proj %}">Új Projektek</a></p>{% endif %}{% endif %}
		<p><a href="/user_log_out">{% if is_english %}Log out{% else %}Kijelentkezés{% endif %}</a></p>
		{% endif %}
		</div>
	</div>
	<div id="menu_btn">
	 <img src="/media/images/miez.png" class="menu_btn" onclick="jump('/miez')" name="miez" onmouseover="document.miez.src='/media/images/miez_over.png'" onmouseout="document.miez.src='/media/images/miez.png'">
	 <img src="/media/images/projekt.png" class="menu_btn" onclick="jump('/projektek')" name="projekt" onmouseover="document.projekt.src='/media/images/projekt_over.png'" onmouseout="document.projekt.src='/media/images/projekt.png'">
	 <img src="/media/images/profilom.png" class="menu_btn" width="55" onclick="jump('/profilom')" name="profilom" onmouseover="document.profilom.src='/media/images/profilom_over.png'" onmouseout="document.profilom.src='/media/images/profilom.png'">
	 <img src="/media/images/blog.png" class="menu_btn" onclick="jump('{% url creativeselector.views.blog 1 %}')" name="blog" onmouseover="document.blog.src='/media/images/blog_over.png'" onmouseout="document.blog.src='/media/images/blog.png'">
	 <img src="/media/images/rolunk.png" class="menu_btn" onclick="jump('/rolunk')" name="rolunk" onmouseover="document.rolunk.src='/media/images/rolunk_over.png'" onmouseout="document.rolunk.src='/media/images/rolunk.png'">
  		
	<div id="projekt_in"><a href="/projekt_bekuldes"><img src="/media/images/projekt_bekuldes.jpg"></a></div>

	</div>
</div>
