{% extends "base.html" %}

{% load call expr %}


{% block main_wrapper %}
<script type="text/javascript" charset="utf-8">
  function search() {
    if ($('#necc_search_input').val() != "Az Ön cége...") {
      jump('/necc/search/'+$('#necc_search_input').val());
    }
  }
  
  function resetSearch() {
    if ($('#necc_search_input').val() == "Az Ön cége...") {
      $('#necc_search_input').val("");
    }
  }
</script>
<div id="necc_wrapper">
  <div id="breadcrumb">
  {% block navigation %}
      <a href="/necc">NECC</a>
  {% endblock %}
  </div>
  <div style="clear:both;"></div>
  <div id="necc_banner">
    
    <div id="necc_search">
      <div id="search_title" class="cufon2">
        A Te céged már szerepel<br/> a Necc adatbázisában?
      </div>
      <input type="text" name="necc_search_input" value="Az Ön cége..." id="necc_search_input" onkeypress="resetSearch()" onfocus="resetSearch()"/>
      <div id="necc_search_button" class="cufon" onclick="search()" >
        Keress!
      </div>
    </div>
    
    <div id="necc_subscribe">
      <div id="necc_subscribe_label2" class="cufon">
        Feliratkozás
      </div>
      <div id="necc_subscribe_label" class="cufon2">
        Iratkozz fel Te is a Necc <br/>
        széleskörű adatbázisába!
      </div>
      <div id="necc_subscribe_button" class="cufon" onclick="jump('/necc/regisztracio')">
        Regisztrálok!
      </div>
    </div>
    <div id="necc_about">
      <div id="necc_about_label" class="cufon">
        Mi az a NECC?
      </div>
    
      <div id="necc_about_desc">
        A NECC (angolul Mesh) egy új üzleti modell, amely alatt azokat a 
        nyílt közösségi alapú piaci kezdeményezéseket értjük, amelyek a 
        web, mobil és közösségi média hálózatokra épülve állandó 
        kapcsolatban vannak vevőikkel és a külvilággal. <a href="/mi_is_az_a_necc">Bővebben ››</a>
      </div>
    </div>
  </div>

  <div id="necc_content_wrapper">
    <div id="necc_sidemenu_wrapper">
      <ul class="emp">
        <li><a href="/necc/list/uj_otletek">Új ötletek</a></li>
        <li><a href="/necc/list/ujonann_finanszirozott">Újonnan finanszírozott</a></li>
        <li><a href="/necc/list/ujonann_erkezett">Újonnan érkezett</a></li>
      </ul>

      <div class="separator"></div>

      <ul>
        {% for nc in necc_categories %}
        <li><a href="/necc/list/{{nc.link}}">{{ nc.title }}</a></li>
        {% endfor %}
      </ul>
      
      <div class="necc_all">
        <a href="/necc/list">Összes ››</a>
      </div>
      
    </div>
    
    <div id="necc_content">
      {% block necc_content %}
        {% for nc in necc_category_images %}
          {% call 'necc/necc_box.html' with nc=nc index=forloop.counter0 %}
        {% endfor %}
      {% endblock %}
    </div>
    <div style="clear:both;"></div>
  </div>

</div>

{% endblock %}