<div id="nyeremenyek-bg_"  onclick="jump('/nyeremenyek')" style="cursor:pointer;">

	<img src="/media/images/nyeremenyek.png" width="248">
	<map name="prize">
	<area shape="rect" coords="309,21,324,93" href="/nyeremenyek">
	</map>
	<br/>
</div>