<div id="navigator">
      {% if prev %}
		{% ifequal paginator_name 'blog' %}
		    <div class="range" style="float:left;">
		      <a href="/blog/{{paginator_infix}}oldal/{{prev}}">&lt;&lt;vissza</a>
		    </div>
		{% else %}
			<div class="range">
		      <a href="/projekt/{{paginator_infix}}page/{{prev}}">&lt;</a>
		    </div>
			{% endifequal %}
		  {% endif %}
      
      {% comment %}
      {% for range in ranges  %}
        {% ifequal page range %}
          <div class="actual_range">
            {{range}}
          </div>
        {% else %}
          <div class="range">
            {% ifequal range "..."  %}
                ...
            {% else %}
				{% ifequal paginator_name 'blog' %}
               <a href="/blog/{{paginator_infix}}oldal/{{range}}">{{range}}</a>
				{% else %}
               <a href="/projekt/{{paginator_infix}}page/{{range}}">{{range}}</a>
			   {% endifequal %}
            {% endifequal %}
          </div>
        {% endifequal %}
   
      {% endfor %}{% endcomment %}
  
      {% if next %}
		{% ifequal paginator_name 'blog' %}
        <div class="range">
		      <a href="/blog/{{paginator_infix}}oldal/{{next}}">tovább&gt;&gt;</a>
		    </div>
			{% else %}
		 <div class="range">
		      <a href="/projekt/{{paginator_infix}}page/{{next}}">&gt;</a>
		    </div>
			{% endifequal %}
		  {% endif %}
</div>

