<div id="navigator">
      {% if prev %}
		    <div class="range">
		      <a href="/{{paginator_name}}/{{paginator_infix}}oldal/{{prev}}">&lt;</a>
		    </div>
		  {% endif %}
      
      
      {% for range in ranges  %}
        {% ifequal page range %}
          <div class="actual_range">
            {{range}}
          </div>
        {% else %}
          <div class="range">
            {% ifequal range "..."  %}
                ...
            {% else %}
               <a href="/{{paginator_name}}/{{paginator_infix}}oldal/{{range}}">{{range}}</a>
            {% endifequal %}
          </div>
        {% endifequal %}
   
      {% endfor %}
  
      {% if next %}
        <div class="range">
		      <a href="/{{paginator_name}}/{{paginator_infix}}oldal/{{next}}">&gt;</a>
		    </div>
		  {% endif %}
</div>

