<div id="nyeremenyek-bg_"  onclick="jump('/nyeremenyek')" style="cursor:pointer;">
  <div class="title" class="cufon">
    nyeremények
  </div>
  <div id="text">
    {{prizes_sidebox_staticpage.content|safe}}
    <a href="/nyeremenyek" class="cufon">részletek</a><span id="details" >››</span>
  </div>
</div>