{% extends "base.html" %}

{% load facebook_tags expr call %}


{% block content %}
{% block content_tab %}
{% endblock %}



  {% block content_top %}
  {% endblock %}

<div id="content-bg_simple"  class="content-bg">
  <div id="content2">
{% call "widgets/tab.html" with title="Profil#törlés" %}	 
 
 {% block content_text %}
 <br/><p align="center"> 
  <h1>Profilodat töröltük<br/>Köszönjük, hogy eddig is velünk voltál</h1>
  
  </p>
 <br/> <br/>
{% endblock %}
</div>
</div>
    {% block content_bottom %}
	{% endblock %}
{% endblock %}