{% extends "base.html" %}

{% load facebook_tags expr call %}


{% block content %}
{% block content_tab %}
{% endblock %}



  {% block content_top %}
  {% endblock %}

<div id="content-bg_simple"  class="content-bg">
  <div id="content2">
{% call "widgets/tab.html" with title="Profil#törlés" %}	 
 
 {% block content_text %}
 <br/><p align="center">
  <h1>Biztos törölni akarod a Profilodat?</h1>
  <a href="{% url creativeselector.views.deleteuser %}" style="font-size: 15px">igen</a>
  </p>
 <br/> <br/>
{% endblock %}
</div>
</div>
    {% block content_bottom %}
	{% endblock %}
{% endblock %}