{% extends "filteredcontent.html" %}
{% load media get_setting %}
{% get_setting ACTUAL_PROJEKT_ID as actual_projekt_id %}
{% load facebook_tags %}
{% load replace format_number video %}
{% load filetransfers fieldtag object_value_by_name call %}

{% block banner %}
{% endblock %}

{% block content_tab %}ötlet beküldése - 2/2 - média feltöltés{% endblock %}

{% block content_text %}

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    var need_others_table = $("#need_others_table");
    var id_need_others = $("#id_need_others");
    
    
    $("input").each(function() {
       $(this).attr("disabled", true); 
    });

    $("textarea").each(function() {
      $(this).attr("disabled", true); 
    });


    
    if (id_need_others.attr('checked')) {
     need_others_table.show();
    } else {
     need_others_table.hide();
    }
    $("#filter").attr('disabled', true);
    $("#sorter").hide();
  });

</script>

<b>Van olyan videód, fotód vagy egyéb dokumentumod, amely segít nekünk gyorsabban megérteni az ötleted?  Most feltöltheted!</b><br/><br/>


  <div id="idea">
    <div id="header">
        <div id="idea_img">{% show_facebook_photo idea.owner 'q' 100 %}</div>
        <ul>
          <li>Ötletgazda: <b>{{idea.owner}}</b> </li>
          <li>Beküldés ideje: <b>{{idea.created|date:"Y.m.d"}}</b> </li>

          <li>Sorszám: <b>{{idea.serial|format_number:'%05d'}}</b> </li>
        </ul>


        {% include 'clear.html' %}
    </div>

    <div class="row">
      <div class="header">
        Mire való?
      </div>
      <div class="text">

        {{idea.for_what|removetags:"div, span"|replace:"/<br>/<br><br>/"|video|safe}}
      </div>
    </div>

  <div class="row">
      <div class="header">
        Kinek szól?
      </div>
      <div class="text">
        {{idea.for_who|removetags:"div, span"|replace:"/<br>/<br><br>/"|video|safe}}
      </div>
    </div>
	
    <div class="row">
      <div class="header">
        Mitől fog hasítani?
      </div>
      <div class="text">
        {{idea.rulez|removetags:"div, span"|replace:"/<br>/<br><br>/"|video|safe}}
      </div>
    </div>

	
   <div class="row">
      <div class="header">
        Mi lehet a gubanc?
      </div>
      <div class="text">
        {{idea.fail|removetags:"div, span"|replace:"/<br>/<br><br>/"|video|safe}}
      </div>
    </div>

 
    {% if idea.tenderimage_set.all %}
    <div class="row">
      <div class="header">
        Kapcsolódó anyagok:
      </div>
      <div class="text">
        {% for ideaimage in idea.tenderimage_set.all %}
             {% url adminupload.views.download_handler pk=ideaimage.pk model_info='creativeselector.tenderimage' field_name='file' as fallback_url  %}
             {% if ideaimage.file|filename|is_image %}
                <a class="lightbox" href="{% firstof ideaimage.file.file|public_download_url fallback_url as download_url %}">          
                  <img src="{% firstof ideaimage.file|public_download_url fallback_url as download_url %}" height="100" alt="{{ ideaimage.file|filename }}" title="{{ ideaimage.file|filename }}">
                </a>
              {% else %}
                <a href="{% firstof ideaimage.file|public_download_url fallback_url %}">          
                  {{ ideaimage.file|filename }}
                </a>
              {% endif %}
              <a href="{% url creativeselector.views.remove_tenderimage ideaimage.pk  %}" style="color: red;">Törlés</a><br/>
        {% endfor %}
      </div>
    </div>

  {% endif%}
  
    {% ifnotequal idea.competitors|striptags "" %}
    <div class="row">
      <div class="header">
        Versenytársak:
      </div>
      <div class="text">
        {{idea.competitors|removetags:"div, span"|replace:"/<br>/<br><br>/"|video|safe}}
      </div>
    </div>

    {% endifnotequal %}


  </div>
  
  {% include 'clear.html' %}
  <div class="button" onclick="popupWindow({ centerBrowser:1, width:300, height: 60, windowURL:'{% url adminupload.views.reupload_handler_inline pk=idea.pk model_info='creativeselector.tender' inline_model_info='creativeselector.tenderimage' field_name='image' %}'})">
    <span class="cufon">Feltöltés</span>
  </div>
  
  {% url creativeselector.views.ideaentry idea.link as ideaentry %}
  {% call 'widgets/next_button.html' with url=ideaentry %}

  {% url creativeselector.views.send_idea idea.pk as idea1 %}
  {% call 'widgets/back_button.html' with url=idea1 %}


{% include 'clear.html' %}
{% endblock %}

