{% extends "filteredcontent.html" %}

{% load replace call facebook_tags %}

{% block first_side %}
  {% include 'nyeremeny.html' %}
{% endblock %}

{% block second_side %}
  {% include 'mentors.html' %}
{% endblock %}

{% block third_side %}
  
{% endblock %}

{% block fourth_side %}
  
{% endblock %}

{% block content_tab %}ötlet beküldése - 1/2 - adatok{% endblock %}



{% block content_text %}
{% initialize_facebook_connect %}

<script type="text/javascript" charset="utf-8">
 /* 
  $(document).ready(function() {
    addBubble('label_id_short_title', '{{subtitle_short_title.content|removetags:"div, span"|strip|safe}}')
    
    addBubble('label_id_for_what', '{{subtitle_for_what.content|removetags:"div, span"|strip|safe}}')
    
    addBubble('label_id_for_who', '{{subtitle_for_who.content|removetags:"div, span"|strip|safe}}')
    
    addBubble('label_id_competitors', '{{subtitle_competitors.content|removetags:"div, span"|strip|safe}}')
	
	addBubble('label_id_rulez', 'Miért gondolod, hogy szeretni fogjuk és sikeres <br>lesz az elképzelésed? Többet tud, kezelhetőbb… ')
	
	addBubble('label_id_fail', 'Mi lehet majd az oka, ha nem működik az elképzelésed? ')
	
	addBubble('label_id_tagss', 'Azokat a szavakat írd vesszővel elválasztva ide, amik a legjobban definiálják az ötleted ')
  
    $('#next_button').click(function() {
      validate('send_idea_form')
    })
     $("#sorter").hide();
  });

 

  // Form validator
  function validate(form_id) {
   resetForm(form_id);

   var valid = is_empty(form_id, 'short_title', true);

   valid &= word_validator(form_id, 'short_title', 1, 3);

   valid &= is_empty(form_id, 'for_what', true);

   valid &= word_validator(form_id, 'for_what', 3, 200);

   valid &= is_empty(form_id, 'for_who', true);

   valid &= word_validator(form_id, 'for_who', 3, 200);

   valid &= is_empty(form_id, 'rulez', true);

   valid &= word_validator(form_id, 'rulez', 3, 200);

   valid &= is_empty(form_id, 'fail', true);

   valid &= word_validator(form_id, 'fail', 3, 200);

   var type = $('#id_is_web').attr('checked') || $('#id_is_mobile').attr('checked')

   if (!type) {
      em('filter', 'web_filter','Itt válassz kategóriát.');
      em('send_idea_form', 'idea_type', 'Válassz kategóriát, felül a szűrő panelon!' )
      valid &= false;
   }
  
   
   var cat = $('#id_category option:selected').val();
   
   if (!cat) {
      im(form_id, 'id_category','Válassz kategóriát!');
      valid &= false;
   }
   
   var accept = $('#id_accept_conditions').attr('checked');
   
   if (!accept) {
      im(form_id, 'label_id_accept_conditions','Fogadd el és imádd a feltételeket!');
      valid &= false;
   }
  
  /*
   var type = $('#id_is_web').attr('checked') || $('#id_is_mobile').attr('checked')

   if (!type) {
      em('filter', 'mobile_filter','Itt válassz kategóriát.');
      em('send_idea_form', 'idea_type', 'Válassz kategóriát, felül a szűrő panelon!' )
      valid &= false;
   }
  */
 /*  if (valid) {
     $(f(form_id)).submit();
   }
  }*/
  

</script>

  {% load facebook_tags %}

  
	<b>A pályázat lezárult, így ötletet sem lehet beküldeni/módosítani!</b>
  
  {% include 'clear.html' %}
{% endblock %}

{% block content_bottom %}
{% endblock %}
