<div id="side_idea">
  <div id="text">
    Az ötletek nagyon hasznos dolgok, főleg ha beküldöd ide őket azonnal és mi megmondjuk, miért szar!
    <a href="/nyeremenyek" class="cufon">részletek</a><span id="details" >››</span>
  </div>
</div>