{% extends "base.html" %}

{% block content %}


  {% block content_top %}
  {% endblock %}

<div id="center_title" class="cufon">{% block content_tab %}pályázati felhivás{% endblock %}</div>
  <div id="content2"> 
    
    {% block content_text %}
    {% endblock %}
  </div>
  <div id="content_bottom">
    {% block content_bottom %}
    {% endblock %}
  </div>


{% endblock %}