{% extends "simplecontent.html" %}
{% load replace video call %}


	{% block first_side %}
	  {% include 'facebook_like.html' %}
	{% endblock %}

	

<div id="center_title" class="cufon">{% block content_tab %}{{staticpage.title|striptags}}{% endblock %}</div>
 {% block content_text %}
    {{staticpage.content|video|safe}}
    <br/>
    <br/>
	<!--script type="text/javascript" src="/media/js/jquery.oembed.js"></script>
 <script type="text/javascript">
        $(document).ready(function() {
                $("a.oembed").oembed();
        });
</script-->
    {% call 'widgets/back_button.html' %}
{% endblock %}

