{% load media %}
<div id="mentorok-bg_">
  <div class="title" class="cufon">
    <a href="{% url creativeselector.views.blog 1 %}">Cimkefelhő:</a>{% load tagging_tags expr %}
  </div>
  <div class="text">
     {% tag_cloud_for_model creativeselector.BlogEntry as tags with steps=6 min_count=1 distribution=linear %}
        {% for tag in tags|slice:":30" %}
          {% expr tag.font_size + 10 as font_size %}
          {% if forloop.last %}
          <a href="{% url creativeselector.views.blog_tag tag.name %}" style="font-size: {{font_size}}px">{{tag.name}}</a>  
          {% else %}
		  <a href="{% url creativeselector.views.blog_tag tag.name %}" style="font-size: {{font_size}}px">{{tag.name}},&nbsp;</a>
          {% endif %}
        {% endfor %}
   
  </div>

</div>