﻿<p>Tisztelt {{username}}</p>
A Creative Selector oldalon új jelszavat kértél, mert a régit ezek szerint elfeljetetted<br/>
sebaj erre a linkre kattintva újat jegyezhetsz be nálunk:<br/>
<a href="{{url}}">{{url}}</a>
<p>A creative Selector csapata</p>