﻿<p>Nagyon örülünk, hogy ránktaláltál!</p>

<p>A belépési adataid: </p>
<blockquote>
  <p>email: {{usr.mail}}</p>

<p>jelszó (amit a bejelntkezésnél megadtál)</p>
</blockquote>
<p> Aktiválni a következő linken tudsz:<br/>
<a href="{{url}}">{{url}}</a></p>
<p>Amennyiben kérdésed van, írj az <a href="mailto:info@creativeselector.hu">info@cretiveselector.hu</a> címre nekünk.</p>

<p>Üdvözlettel, </p>

<p>A Creative Selector csapata</p>