﻿<p>Kedves {{username}}!</p>

<p>Nagyon köszönjük a jelentkezésed!
<strong>A tervezett projekted leírását megkaptuk!</strong></p>

<blockquote>
  <p>Most elolvassuk és hamarosan visszajelzünk. Ez jellemzően pár óra múlva, de legkésőbb  48 órán belül megtörténik. </p>

<p>Fontos, hogy a Creative Selector-nál nem értékeljük a projekted célját, mert nem gondoljuk, hogy mi tudnánk a legjobban megmondani minek van értelme.</p>

<p>Ugyanakkor a tartalmi hiányosságok, az alapvető szabályok betartásának elmulasztása vagy a kért összeg irrealitása miatt elutasításra kerülhet a projekted. </p>
</blockquote>

<p>Hamarosan hallasz rólunk!</p>

<p>Üdvözlettel, </p>

<p><em>A Creative Selector csapata</em></p>
</body>
</html>