<p>Tisztelt {{username}}!</p>
<p><em>*A(z) {{sup.idea.short_title}} című projektedet támogatták! *</em></p>

{% ifequal sup.visibility 1 %}
<p>Támogató adatok: </p>

<blockquote>
 <p>Támogatás összege: {{sup.money}},- Ft </p>
 
<p>Támogató neve: {{sup.name}}</p>

<p>Cím: {{sup.city}} {{sup.zipcode}} {{sup.adress}}</p>

{% if pres %}

<p>Választott ajándék:  {{pres.detail|safe}} </p>{% endif %}

{% else %}

{% ifequal sup.visibility 2 %}
<p>Támogató neve: {{sup.name}}</p>

<p>Cím: {{sup.city}} {{sup.zipcode}} {{sup.adress}}</p>

{% if pres %}

<p>Választott ajándék:  {{pres.detail|safe}} </p>{% endif %}


{% endifequal %}

{% endifequal %}
<p>Megjegyzés: {{sup.comment|safe}}</p> 
</blockquote>
<p><a href="{{url}}">itt éred el a projekted támogatóit</a></p>

<p>Üdvözlettel, </p>

<p>A Creative Selector csapata</p>