﻿<p>Kedves {{username}}!</p>

Már csak egy kevés hiányzik az <a href="{{url}}">{{proj.short_title}}</a> nevű projekted véglegesítéséhez. <br/>
<br/>
Amennyiben elakadtál a kitöltésben, írj nekünk <a href="mailto:info@creativeselector.hu">info@creativeselector.hu</a>, nagyon
szívesen segítünk a folytatásban.<br/>
<br/>
Üdvözlettel,<br/>
<br/>
<b>A Creative Selector csapata</b>