{% load mylink %}
{% load facebook_tags %}
{% load filetransfers fieldtag %} 
{% load media %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en-us" />
		<meta http-equiv="imagetoolbar" content="no" />  
		<meta name="robots" content="all" /> 
		<meta property="fb:app_id" content="145204418841370">
		<meta property="fb:admins" content="665323477">
		<meta name="google-site-verification" content="wfzZrLhKfSsmPaeUDjLeIcV0NKeMunmoPcNxpz6dhA8" />
		
		<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />
		
		<title>{{headtitle|striptags}}</title>
    <meta name="title" content="{% if linktitle %}{{linktitle|striptags}}{% else %}{% if fb_head %}{{fb_head|striptags}} {% else %}{{headtitle|striptags}}{% endif %}{% endif %}" /> 
    <meta name="description" content="{{description|striptags|truncatewords_html:40|safe}}" />
	{% if fb_head %} <meta property="og:title" content="{{fb_head|striptags}}"/>{% endif %}
	{% if fb_desc %} <meta property="og:description" content="{{fb_desc|striptags}}"/>{% endif %}
    <meta name="keywords" content="{{keywords|striptags}}" />
    <link rel="image_src" href="{{image}}" />
		<meta name="google-site-verification" content="Nuxldpr5g3myk7wa1E4da0OZbHJf23e05E7qlmyggSE" />
		<link rel="icon" href="http://www.creativeselector.hu/favicon.ico" />
    <link rel="thumbnail_image" href="{{image}}" />
    <meta property="og:image" content="{{image}}"/>
    <meta name="fb_thumb" content="{{image}}" />
    
    {% include_media 'main.css' %}
    {% include_media 'main.js' %}
	

		{% block extrahead %}
	  {% endblock %}

  
    <!--[if lt IE 7]>
    <style type="text/css" media="screen">
      body {
        behavior: url(/media/images/csshover.htc);
      }
	  #support_button{
		    position: relative;
			height: 1%;
			zoom: 1;
	  }
 
    </style>
    <![endif]-->
    

    <!--script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script-->
	</head>
  
	<body>
   <div id="main_logo">
	<a href="/"><img src="/media/images/logo.png" border="0"></a> <div id="main_title">&#8226; kreatív projektek megvalósítása közösségi finanszírozással &#8226;</div>
	</div>
<div id="main_page">
      {% include 'menu.html' %}
     
      
      {% block main_wrapper %}
      
      <div id="right">
	   {% comment %}<p style="font-size:11px;"><a href="{% url creativeselector.views.to_english %}" style="color:#ffa11b">HUN</a> / <a href="{% url creativeselector.views.to_english %}" style="color:#ffa11b">ENG</a></p>{% endcomment %}
	   
        {% block sidebar %}
  		  {% block first_side %}
            {% include 'facebook_like.html' %}
          {% endblock %}

          {% block second_side %}
            <div id="supporters">
            <!-- <p>PARTNEREK</p> -->
			<!--
            {% for spc in supportcomp %}
				{% if spc.image %}
				{% url adminupload.views.download_handler pk=spc.pk model_info='creativeselector.supportercompany' field_name='image' as fallback_url  %} 
				<img src="{% firstof spc.image|public_download_url fallback_url as download_url %}" width="100"><br/>
				{% endif %}
			{% endfor %}
            -->
			</div>
          {% endblock %}
		 
         {% endblock %}
      </div>
	  <div id="left">
		<div id="valaszto">
			<a href="/frissprojektek">FRISS PROJEKTEK</a><br />
			<a href="/finishprojektek">HAMAROSAN LEJÁRÓ</a><br />
			<a href="/">KIEMELT PROJEKTEK</a><br />
			<a href="/sikeresprojektek">SIKERTÖRTÉNETEK</a><br />
		</div>
		<div id="category">
			<p>KATEGÓRIÁK</p>
			{% for cat in categories %}
				<p><b><a href="/projektek/kat/{{cat.link}}">{{cat.title}}</a></b></p>
			{% endfor %}
		</div>
		<div id="faqs">
			<p><a href="/faq">FAQ</a></p>
			<p><a href="/feltetelek">FELTÉTELEK</a></p>
			<p><a href="/adatkezeles">ADATKEZELÉS</a></p>
			<p><a href="/fizetesi_modok">FIZETÉSI MÓDOK</a></p>
			<p><a href="/kapcsolat">KAPCSOLAT</a></p>
			<p><a href="/sajto" style="color:#ffa11b">SAJTÓ</a></p>
		</div>
		<div id="faqss">
		  <p>Kártyás fizetés szolgáltatója</p>
		  <a href="/gyfk" ><img src="/media/images/cib_logo.gif" alt="Cib Bank" width="120" border="0"></a>
		  <p>Elfogadott kártyák</p>
		  <a href="/gyfk" ><img src="/media/images/card_logos.gif" alt="Mastercard Visa Visa Electron Maestro" width="130" border="0"></a>
		  </div>
	
	</div>
      <div id="center">
	  
	
        {% block content %}
		<script type="text/javascript" charset="utf-8">
	  var ddmenuitem = 0;
		function openmenu(){			 
			 ddmenuitem = $(this).find('li').css('display', 'list-item');
			 $(this).find('li.active').css('background-image', 'None');
			 $(this).find('li#active_bcg').css('background-image', 'url(\'/media/images/arrow_down.gif\')');
		}
		function close(){
			if(ddmenuitem) ddmenuitem.css('display', 'none');
			$(this).find('li.active').css('background-image', 'url(\'/media/images/arrow_down.gif\')');
			$(this).find('li.active').css('display', 'list-item');
		}
		$(document).ready(function() {
		 $('ul').bind('mouseover', openmenu)
		 $('ul').bind('mouseout',  close)
		 });
	$.ajaxSetup ({  
        cache: false  
    });  
    var ajax_load = '<div style="height:364px; width:443px; padding-top:80px; padding-left:240px;"><img src="/media/images/load.gif" alt="töltődik..." /></div>'; 
function next_projs(div,table,loadUrl,right, is_left){
		if(right){ var ps=-690; if(is_left){ ps=-690-690}	$(table).animate({ left: ps }, 500, function(){$(div).load(loadUrl);});}
		else $(table).animate({ left: 0 }, 500, function(){$(div).load(loadUrl);});
        
}
	</script>
	
		
		<div id="center_title" class="cufon">{% block content_tab %}KIEMELT PROJEKTEK{% endblock %}</div>
		 <div id="choose_option"> <ul class="submenu">
				<li{% if not succ %}{% if not finish %} {% if not most %} class="active"{% endif %}{% endif %}{% endif %} id="active_bcg"><a {% if cate %}href="/projektek/kat/{{cate}}"{% else %}href="/frissprojektek"{% endif %}>legfrissebb projektek</a></li>
				<li{% if most %} class="active"{% endif %}><a {% if cate %}href="/projektek/kiemelt/kat/{{cate}}"{% else %}href="/"{% endif %}>kiemelt projektek</a></li>
				<li{% if finish %} class="active"{% endif %}><a {% if cate %}href="/projektek/kat/fin/{{cate}}"{% else %}href="/finishprojektek"{% endif %}>hamarosan lejáró</a></li>
				<li{% if succ %} class="active"{% endif %}><a {% if cate %}href="/projektek/kat/success/{{cate}}"{% else %}href="/sikeresprojektek"{% endif %}>sikertörténetek</a></li>
			</ul>
			<ul class="submenu">
				<li{% if not cate %} class="active"{% endif %} id="active_bcg">Kategóriák</li>
				{% for cat in categories %}
				<li{% ifequal cate cat.link %} class="active"{% endifequal %}><a href="/projektek/kat/{{cat.link}}">{{cat.title}}</a></li>
			{% endfor %}
			</ul></div>
		<div id="content">
			
		 {% block content_text %}
		 {% if category.link %}<div id="category_title">{{category.title}}</div>{% endif %}
		 <div id="result_projs_most" style="width:680px; overflow:hidden; display:inline-block; float:left; height:940px;">
			<div class="proj_table_most" style="display:inline-block; float:left; width:680px;position: relative;">
			<table><tr><td><table><tr>
					{% for idea, days, hours, now, need, perc in projs %}
					
					<td>{% include 'idea/idea_row.html' %}</td>
					{% cycle '' '' '</tr></table><table><tr>' '' '' '</tr></table></td><td valign="top"><table><tr>' %}
					{% endfor %}</tr></table></td></tr>
				</table>
		  {% if right %}<p style="float:right; margin-right: 20px; font-weight:bold;"><a href="javascript:next_projs('#result_projs_most','.proj_table_most',{% if category %}'{% url creativeselector.views.mostideas 6 2 category.link %}'{% else %}'{% url creativeselector.views.mostideas 6 2 %}'{% endif %}, true);">továbbiak>></a></p>{% endif %}
			 <div style="position:relative; z-index:2; top:-10px;left:1020px; width:32px;"><img src="/media/images/lightbox-ico-loading.gif"></div></div>
			</div>
		 {% if not is_mac %}<p style="margin-bottom:926px;">&nbsp;</p>{% endif %}
		</div>
		{% endblock %}
		
        {% endblock %}
		


        
      </div>

      {% endblock %}

    </div>
		{% comment %}{% include 'blog.html' %}{% endcomment %}

	  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18136327-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
<div id='flexcroll-init'></div>
	</body>
</html>
