{% load mylink %}
{% load facebook_tags %}
{% load media %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en-us" />
		<meta http-equiv="imagetoolbar" content="no" />  
		<meta name="robots" content="all" /> 
		<meta property="fb:admins" content="665323477" />
		<meta name="google-site-verification" content="wfzZrLhKfSsmPaeUDjLeIcV0NKeMunmoPcNxpz6dhA8" />
		
		<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />
		
		<title>{{headtitle|striptags}}</title>
    <meta name="title" content="{% if linktitle %}{{linktitle|striptags}}{% else %}{{headtitle|striptags}}{% endif %}" /> 
    <meta name="description" content="{{description|striptags|truncatewords_html:40|safe}}" /> 
    <meta name="keywords" content="{{keywords|striptags}}" />
    <link rel="image_src" href="http://www.creativeselector.hu/media/images/creativeselector.jpg" />
		<meta name="google-site-verification" content="Nuxldpr5g3myk7wa1E4da0OZbHJf23e05E7qlmyggSE" />
		<link rel="icon" href="http://www.creativeselector.hu/favicon.ico" />
    <link rel="thumbnail_image" href="http://www.creativeselector.hu/media/images/creativeselector.jpg" />
    <meta property="og:image" content="http://www.creativeselector.hu/media/images/creativeselector.jpg"/>
    <meta name="fb_thumb" content="http://www.creativeselector.hu/media/images/creativeselector.jpg" />
    
    <link rel="stylesheet" type="text/css" href="/media/css/print.css" />
    {% include_media 'main.js' %}



	</head>
  
	<body>
    
		<div id="main_frame">
      <div id="content_wrapper">
        {% block content %}
        {% endblock %}
        
      </div>

    </div>


	</body>
</html>