﻿
{% block content %}
<div id="content-main">
<form action="/main_pass" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    <label for="id_username">login</label> <input type="text" id="email" name="email" />
  </div>
  <div class="form-row">
    <label for="id_password">pass</label> <input type="password" id="password" name="password" />
    <input type="hidden"  id="forget" name="forget" value="" />
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Belépés" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('email').focus()
</script>
</div>
{% endblock %}
