{% load mylink %}
{% load facebook_tags %}
{% load media %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en-us" />
		<meta http-equiv="imagetoolbar" content="no" />  
		<meta name="robots" content="all" /> 
		<meta property="fb:app_id" content="145204418841370">
		<meta property="fb:admins" content="665323477">
		<meta name="google-site-verification" content="wfzZrLhKfSsmPaeUDjLeIcV0NKeMunmoPcNxpz6dhA8" />
		
		<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />
		
		<title>{{headtitle|striptags}}</title>
    <meta name="title" content="{% if linktitle %}{{linktitle|striptags}}{% else %}{% if fb_head %}{{fb_head|striptags}} {% else %}{{headtitle|striptags}}{% endif %}{% endif %}" /> 
    <meta name="description" content="{{description|striptags|truncatewords_html:40|safe}}" /> 
    <meta name="keywords" content="{{keywords|striptags}}" />
    <link rel="image_src" href="{{image}}" />
		<meta name="google-site-verification" content="Nuxldpr5g3myk7wa1E4da0OZbHJf23e05E7qlmyggSE" />
		<link rel="icon" href="http://www.creativeselector.hu/favicon.ico" />
    <link rel="thumbnail_image" href="{{image}}" />
    <meta property="og:image" content="{{image}}"/>
    <meta name="fb_thumb" content="{{image}}" />
    
    {% include_media 'main.css' %}
    {% include_media 'main.js' %}
	

	  {% block extrahead %}
	  {% endblock %}

	</head>
    
	<body style="background:#ffffff;">   
	<p style="background:#00FF00; max-width:598px;"><a href="/"><img src="/media/images/logo.png" border="0"></a></p>
		
      
      {% block main_wrapper %}      
      
      
        {% block content %}
         
          

  

      {% endblock %}
      {% endblock %}

    

	  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18136327-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

	</body>
</html>