{% extends "facebook/base.html" %}
{% load facebook_tags call %}

{% block content_tab %}facebook - belépés{% endblock %}

{% block content_text %}
<script type="text/javascript" charset="utf-8">
    function Validate_this() {
       var val=0;
	   if(document.getElementById("felt_6").checked) val++;
	   
	   if(val!=1) alert("Kérlek fogadd el!");
	   else jump('/projektbekuldes3');
    }
	function underline(){$(this).css('text-decoration', 'underline');}
	function noneline(){$(this).css('text-decoration', 'none');}
	$(document).ready(function() {
	$('#cs_tos').bind('mouseover', underline)
	$('#cs_tos').bind('mouseout', noneline)
    $('#cs_tos').click(function() {
      $('#tos').dialog({modal:true, title: 'Felhasználási Feltételek', width: 800, height: 600});
    })
  });
  </script>
  <div id="tos" class="hidden">{{tos.content|safe}}</div>
  <div id="fb_info">
    <div id="fb_image">
      <img src="{{image}}">
    </div>
    <div id="fb_name">
      {{name}}
    </div>
  </div>
  
  <p>Most először jársz az oldalunkon, ezért kérjük, fogadd el a <span id="cs_tos" style="color:#00ff00;" target="_blank">Creative Selector felhasználási feltételeit.</span> &nbsp; <input type="checkbox" id="felt_6" name="felt_6"> </p>
  <br/>
  
  <form id="fb_connect_form" action="{% url django_facebook.views.register_user %}" method="post" accept-charset="utf-8" class="nice-form">
    <input type="hidden" value="{{next}}" id="next" name="next">
    {% call "widgets/next_button.html" with title="Mehet" %}
    {% include 'clear.html' %}
  </form>
  
  
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#next_button').click(function() {
        $('#fb_connect_form').submit();
      })
    });
  </script>
{% endblock %}