﻿{% extends "base.html" %}
{% load replace video call %}
{% block content %}


  {% block content_top %}
  {% endblock %}

<div id="center_title" class="cufon">{% block content_tab %}Projekt Akitválás{% endblock %}</div>
  <div id="content2"> 
      
    {% block content_text %}
	
	<script type="text/javascript" charset="utf-8">
	 $(document).ready(function () {
	 var num1=$('#full_money').html();
	 $('#full_money').html(separateNum(num1));
	 });
    // Form validator
  function validate(form_id) {
   resetForm(form_id);

   var valid = is_empty(form_id, 'mail_text', true);
   if (valid) {
     $(f(form_id)).submit();
   }
  }
  

</script>
	
	<p>{{projekt.short_title|safe}}</p>
	<p><b>Projekt gazda:</b> {{projekt.owner.last_name}} {{projekt.owner.first_name}} </p>
	<p><b>Projekt gazda email:</b> <a href="mailto:{{projekt.owner.email}}"> {{projekt.owner.email}}</a> </p>
	<p><b>Miről szól:</b> <br/>
	{{projekt.introduce|safe}}</p>
	<p><b>Felajnálott Ajándékok:</b> <br/>
	{% if presents %}
	<ul>
	{% for present in presents %}
	<script type="text/javascript" charset="utf-8">
	 $(document).ready(function () {
		var num=$('#pres_sup_num_{{forloop.counter}}').html();
		$('#pres_sup_num_{{forloop.counter}}').html(separateNum(num));
		});
	 </script>
		<li id="pres_sup_num_{{forloop.counter}}">{{present.min_prize}} Ft</li>
		<li>{{present.detail|safe}}</li>
	{% endfor %}
	</ul>
	{% endif %}
	</p>
	{% if projekt.why_sup %}<p><b>Kampányaktivitás:</b> <br/>
	{{projekt.why_sup|safe}}</p>{% endif %}
	<p><b>Weboldal/elérhetőség:</b> <br/>
	{{projekt.faceurl|safe}}</p>
	<p><b>Közösség létszáma:</b> 
	{{projekt.crowd_no}} fő</p>
	<p><b>Összegyűjtendő összeg:</b> 
	<span id="full_money">{{projekt.full_money|safe}} Ft</span></p>
	<p><b>Kategória:</b> 
	{{projekt.category}}</p>
	<p><b>Telefon szám:</b> 
	{{projekt.tel_no|safe}}</p>
	{% if is_admin %}
	<p><b>E-mail magyarázó szöveg ha valami hibás a projektben:</b><br/>
	<form method="post" action="/activate_proj_no/{{projekt.pk}}" name="validateform" id="validateform">
	{{form.mail_text}}
	</form></p>
	<div style="float:left;">{% call "widgets/button.html" with title="Hibás#Projekt" click="validate('validateform')" %}</div>
    
	<div><a href="{% url creativeselector.views.validate_project_ok projekt.pk %}">{% call "widgets/button.html" with title="Mehet" %}</a></div>
	{% endif %}
	{% endblock %}
  </div>
  <div id="content_bottom">
    {% block content_bottom %}

    {% endblock %}
  </div>


{% endblock %}