﻿{% extends "simplecontent.html" %}
{% load replace video call %}

{% block content %}


  {% block content_top %}
  {% endblock %}

<div id="center_title" class="cufon">{% block content_tab %}Projektszerkesztés{% endblock %}</div>
  <div id="content2"> 
      
    {% block content_text %}
	{% if logged_in %}
	<script type="text/javascript" charset="utf-8">
		function validate(){
			jump('{% url creativeselector.views.continue_project proj.link %}');
		}
	</script>
		
	{{new_projekt_text.content|video|safe}} 
	
	<br/>
	<br/>
	{% else %}
	{% call "widgets/login_popup.html" %}
	{% endif %}
    {% endblock %}
  </div>
  <div id="content_bottom">
    {% block content_bottom %}
  {% if logged_in %}
		{% url creativeselector.views.continue_project proj.link as next_url %}
		{% call "widgets/button.html" with title="tovább" click="validate()" %}
	{% endif %}
    {% endblock %}
  </div>


{% endblock %}