﻿{% extends "base.html" %}
{% load replace video call %}

{% block content %}


  {% block content_top %}
  {% endblock %}

<div id="center_title" class="cufon">{% block content_tab %}Projektindítás{% endblock %}</div>
  <div id="content2"> 
      
    {% block content_text %}
	{% if logged_in %}
	<script type="text/javascript" charset="utf-8">
	 $(document).ready(function () {
	 var money=$('#id_full_money').val();$('#id_full_money').val(separateNum(money));
	 $('#id_full_money').focusout(function() { var money=$('#id_full_money').val();$('#id_full_money').val(separateNum(money)); });
	 $('#id_full_money').focus(function() { var money=$('#id_full_money').val();$('#id_full_money').val(unseparateNum(money)); });
	
	 var invoice = "{{budget.invoice_no}}";
	 var d = invoice.split('-');
	 $('#id_invoice_no_1').val(d[0]);
	 $('#id_invoice_no_2').val(d[1]);
	 $('#id_invoice_no_3').val(d[2]); 
	 });
 
  // Form validator
  function validate(form_id) {
	 resetForm(form_id);
	 var fbd=$('#id_full_money').val();
	 $('#id_full_money').val(unseparateNum(fbd));
	 var invoi1 = $('#id_invoice_no_1').val();
	 var invoi2 = $('#id_invoice_no_2').val();
	 var invoi3 = $('#id_invoice_no_3').val();
	 var invoi = invoi1+'-'+invoi2+'-'+invoi3;
	 $('#id_invoice_no').val(invoi);
	 var valid=true;
	 var date=$('#id_from_when_0').val().split('-');
	 var now=new Date(date[0],date[1]-1,date[2]);
	 var date2=$('#id_expiry_0').val().split('-');
	 var end=new Date(date2[0],date2[1]-1,date2[2]);
	 days=Math.floor((end-now))/(1000*60*60*24);
	 if(days>93){
			valid&=false;
			im(form_id,'expiry_0',"A gyűjtés maximum 90 nap");
			}
	
	if (valid)
     $(f(form_id)).submit();
  
  }
  

</script>
<style type="text/css" charset="utf-8">
<!--
	#id_full_money {
	width:125px;
	height:28px;
	font-size:25px;
}
-->
</style>
	<div id="form">
		<div id="lepteto"><a href="/projekt_szerk/{{proj.link}}">1.alapinfó</a>&nbsp;&nbsp;<a href="/projekt_szerk2/{{proj.link}}">2.bemutatkozás</a>&nbsp;&nbsp;<a href="/projekt_szerk3/{{proj.link}}">3.videó/kép</a>
		&nbsp;&nbsp;<span class="active">4.pénz/időzítés</span>&nbsp;&nbsp;<a href="/projekt_szerk5/{{proj.link}}">5.ajándékok</a>&nbsp;&nbsp;
		<a href="/projekt_szerk6/{{proj.link}}">6.előnézet</a></div>
	
	<form id="send_projekt_form" name="send_projekt_form" action="/projekt_szerk4/{{proj.link}}" method="post"  > 
	<input id="id_owner" name="owner" type="hidden" value="{{user.id}}">
	<input id="id_short_title" name="short_title" type="hidden" value="{{proj.short_title}}">
	{% if proj.tagss %}<div class="hidden">{{form.tagss}}</div>{% endif %}
	<input id="id_category" name="category" type="hidden" value="{{proj.category.id}}">
	<input id="id_tel_no" name="tel_no" type="hidden" value="{{proj.tel_no}}">
	{% if proj.location %}<input id="id_location" name="location" type="hidden" value="{{proj.location}}">{% endif %}
	<input id="id_introduce" name="introduce" type="hidden" value="{{proj.introduce}}">
	{% if proj.for_what %}<input id="id_for_what" name="for_what" type="hidden" value="{{proj.for_what}}">{% endif %}
	{% if proj.budget %}<input id="id_budget" name="budget" type="hidden" value="{{proj.budget}}">{% endif %}
	{% if proj.why_sup %}<input id="id_why_sup" name="why_sup" type="hidden" value="{{proj.why_sup}}">{% endif %}
	{% if proj.faceurl %}<input id="id_faceurl" name="faceurl" type="hidden" value="{{proj.faceurl}}">{% endif %}
	{% if proj.crowd_no %}<input id="id_crowd_no" name="crowd_no" type="hidden" value="{{proj.crowd_no}}">{% else %}<input id="id_crowd_no" name="crowd_no" type="hidden" value="0">{% endif %}
	{% if proj.video_url %}<input id="id_video_url" name="video_url" type="hidden" value="{{proj.video_url}}">{% endif %}
	<p> Mennyi pénzt szeretnél összegyűjteni?(Ft)</p>
	<p>{{form.full_money}}</p>
	
	<p> Kampány ideje</p>
	<span>A gyűjtés futamideje, tehát amíg a projektedet támogatni lehet</span>
	<p class="datefields">kezdete:{{form.from_when}} vége: {{form.expiry}}<br/> 
	<!--A gyűjtés futamideje: <span id="left_days"> </span> nap<br/-->
	a gyűjtés maximum 90 napig tarthat</span></p>
	
	<p> Bankszámlaszámom: </p>
	<span>A kapmány végén erre a számlára utaljuk az összegyűjtött pénzed. Nem kötelező kitölteni, a gyűjtés végén is megadható.</span>
	<p>
	<input id="id_invoice_no_1" type="text" value="" style="height:21px;width:85px;font-size:18px;" name="invoice_no_1"> -
	<input id="id_invoice_no_2" type="text" value="" style="height:21px;width:85px;font-size:18px;" name="invoice_no_2"> -
	<input id="id_invoice_no_3" type="text" value="" style="height:21px;width:85px;font-size:18px;" name="invoice_no_3">
	</p>
	<input id="id_invoice_no" type="hidden" value="{{budget.invoice_no}}" style="width:150px;" name="invoice_no">
	</form>
	</div>
	{% else %}
	{% call "widgets/login_popup.html" %}
	{% endif %}
    {% endblock %}
  </div>
  <div id="content_bottom">
    {% block content_bottom %}
	{% if logged_in %}
		{% url creativeselector.views.continue_project2_2 proj.link as back_url %}
		{% call "widgets/back_button.html" with url=back_url %}
		{% call "widgets/button.html" with title="mentés#és#tovább" click="validate('send_projekt_form')" %}
    {% endif %}
	{% endblock %}
  </div>


{% endblock %}