 {% extends "base.html" %}
{% load replace video video_thumb call %}
{% load filetransfers fieldtag object_value_by_name call %}


{% block content %}


  {% block content_top %}
  {% endblock %}

<div id="center_title" class="cufon">{% block content_tab %}Projektindítás{% endblock %}</div>
  <div id="content2"> 
      
    {% block content_text %}
	{% if logged_in %}
	<script src="/media/js/nicEdit.js" type="text/javascript"></script>
	<script type="text/javascript" charset="utf-8">
	/*$(document).ready(function() {
	var url=$('#id_video_url').val();

	if(String(url).search('picnum:')>=0)
	{
		$('#id_video_url').val('');
		var f=url.split('picnum:');
		$('#kep_val_'+f[1]).attr('checked', true);
	}
	
	});
  function video_image(){
	var url=$('#id_video_url').val();
	if(url){
		imgurl=url.match("[\\?&]v=([^&#]*)");
		if(imgurl){
			id=imgurl[1];
			$('#youtube_pic1').attr("src","http://img.youtube.com/vi/"+id+"/1.jpg");
			$('#youtube_pic2').attr("src","http://img.youtube.com/vi/"+id+"/2.jpg");
			$('#youtube_pic3').attr("src","http://img.youtube.com/vi/"+id+"/3.jpg");
			$('#pics_of_youtube').dialog({modal:true, title: 'Youtube video képei', width: 460, height: 250});
		}
	}
  }
  function chosepick(pic_no){
	var url=$('#id_video_url').val();
	url=url.split("&kepszam=");
	url=url[0];
	if(pic_no){		
		$('#id_video_url').val(url+'&kepszam='+pic_no);	
	}else{ $('#id_video_url').val(url+'&kepszam=2');}
	$('#pics_of_youtube').dialog('close');
  }*/
  // Form validator
  function validate(form_id) {
	 resetForm(form_id);
	 /*var url=$('#id_video_url').val();
	 if(url){
		url=url.split("&kepszam=");
		if(!url[1]) $('#id_video_url').val(url[0]+'&kepszam=2');
		
	 }else{
	 {% if proj.tenderimage_set.all %}
		var picnum=$("input[@name='kep_val']:checked").val()
		if(!picnum) picnum="1"
		$('#id_video_url').val('picnum:'+picnum);
	{% endif %}
	 }*/
     $(f(form_id)).submit();
  
  }
  

</script>

<div id="pics_of_youtube" class="hidden">
	<p>Válaszd ki melyik kép jelenjen meg</p>
	<table>
	<tr>
	<td><a href="javascript:chosepick(1);"><img src="" id="youtube_pic1"></a></td>
	<td><a href="javascript:chosepick(2);"><img src="" id="youtube_pic2"></a></td>
	<td><a href="javascript:chosepick(3);"><img src="" id="youtube_pic3"></a></td>
	</tr>
	</table>
	
</div>
	<div id="form">
		<div id="lepteto"><a href="/projekt_szerk/{{proj.link}}">1.alapinfó</a>&nbsp;&nbsp;<a href="/projekt_szerk2/{{proj.link}}">2.bemutatkozás</a>&nbsp;&nbsp;<span class="active">3.videó/kép</span>
		&nbsp;&nbsp;<a href="/projekt_szerk4/{{proj.link}}">4.pénz/időzítés</a>&nbsp;&nbsp;<a href="/projekt_szerk5/{{proj.link}}">5.ajándékok</a>
		&nbsp;&nbsp;<a href="/projekt_szerk6/{{proj.link}}">6.előnézet</a></div>
	
	<form id="send_projekt_form" name="send_projekt_form" action="/projekt_szerk3/{{proj.link}}" method="post"  > 
	<input id="id_owner" name="owner" type="hidden" value="{{user.id}}">
	<input id="id_full_money" name="full_money" type="hidden" value="{{proj.full_money}}">
	<input id="id_short_title" name="short_title" type="hidden" value="{{proj.short_title}}">
	{% if proj.tagss %}<div class="hidden">{{form.tagss}}</div>{% endif %}
	<input id="id_category" name="category" type="hidden" value="{{proj.category.id}}">
	{% if proj.tel_no %}<input id="id_tel_no" name="tel_no" type="hidden" value="{{proj.tel_no}}">{% endif %}
	{% if proj.location %}<input id="id_location" name="location" type="hidden" value="{{proj.location}}">{% endif %}
	{% if proj.from_when %}<div class="hidden">{{form.from_when}}</div>{% endif %}
	{% if proj.expiry %}<div class="hidden">{{form.expiry}}</div>{% endif %}
	<input id="id_introduce" name="introduce" type="hidden" value="{{proj.introduce}}">
	{% if proj.for_what %}<input id="id_for_what" name="for_what" type="hidden" value="{{proj.for_what}}">{% endif %}
	{% if proj.budget %}<input id="id_budget" name="budget" type="hidden" value="{{proj.budget}}">{% endif %}
	{% if proj.why_sup %}<input id="id_why_sup" name="why_sup" type="hidden" value="{{proj.why_sup}}">{% endif %}
	{% if proj.faceurl %}<input id="id_faceurl" name="faceurl" type="hidden" value="{{proj.faceurl}}">{% endif %}
	{% if proj.crowd_no %}<input id="id_crowd_no" name="crowd_no" type="hidden" value="{{proj.crowd_no}}">{% else %}<input id="id_crowd_no" name="crowd_no" type="hidden" value="0">{% endif %}
	
	<p>Nyitó kép feltöltése</p>
	<span>
	A nyitókép a projekt összefoglaló dobozában elől jelenik meg. Tehát ez a kép látszik a projektedről elsőként.
	Erre azért van szükség, mert a videó sokszor rossz minőségű állóképet ad. 
	Érdemes 1:1 vagy 4:3 arányú képet választani (megjelenéskor 195 x 145 pixeles dobozban jelenítjük meg)</span>
	<br/>
	<div class="button" style="cursor:pointer; font-weight:bold; margin:10px; height:20px; width:165px;" onclick="popupWindow({ centerBrowser:1, width:450, height: 120, windowURL:'{% url adminupload.views.reupload_handler pk=proj.pk model_info='creativeselector.tender' field_name='main_pic' %}'})">
	{% call "widgets/button.html" with title="Nyitó#Kép#Feltöltés"  %}
	</div>
	
	
	<div id="projekt_card_little" >

		<div id="project_content_litle">
					{% if proj.main_pic %}
					{% url adminupload.views.download_handler pk=proj.pk model_info='creativeselector.tender' field_name='main_pic' as fallback_url  %}
					<div valign="middle" style="overflow:hidden; width:195px; height:145px; background:black;vertical-align: 50%;margin-bottom:3px;">
					<div valign="middle" style="overflow:hidden; width:195px; height:145px;">
					<img valign="middle" src="{% firstof proj.main_pic|public_download_url fallback_url as download_url %}" width="195"  alt="{{ proj.main_pic|filename }}" title="{{ proj.main_pic|filename }}">
					</div>
					</div>
					{% else %}<div style="width:195px;height:145px; margin-bottom:3px; background:#333333"></div>{% endif %}
					<div class="projekt_littl_categ">{{proj.category}}</div>
					<p id="projekt_title_little">{{proj.short_title|upper}}</p>
					<p id="projekt_auth_little">{{proj.owner.last_name}} {{proj.owner.first_name}}</a></p>
					<div class="projekt_introduce">{{proj.introduce|slice:":140"|safe}}</div>
				</div>
				<div id="project_status_little">
				<hr style="border:none;background:#BEC0C2; height:1px; margin:0px;">
		</div>
    
 
</div>	
	<p>Másold be a projektedet bemutató videó linkjét, vagy amennyiben nincs videód, tölts fel képeket.</p>	
	<span>Az elkészült videót töltsd fel a youtube, vagy a vimeo oldalára. Az így kapott videó linkjét másold be az alábbi rubrikába</span>
	<p>{{form.video_url}} <!--span><a href="javascript:video_image();">Válaszd ki a nyitóképed</a></span--></p>
	
	
	
	
	<p class="cufon">Vagy abban az esetben ha nincs videód itt tudod feltölteni a képeidet</p>
  <div class="button" style="cursor:pointer;width:166px; height:40px;" onclick="popupWindow({ centerBrowser:1, width:300, height: 60, windowURL:'{% url adminupload.views.reupload_handler_inline pk=proj.pk model_info='creativeselector.tender' inline_model_info='creativeselector.tenderimage' field_name='image' %}'})">
    {% call "widgets/button.html" with title="Kép#Feltöltés"  %}
  </div>
   {% if proj.tenderimage_set.all %}
	<table class="text" ><tr>
        {% for ideaimage in proj.tenderimage_set.all %}
            <td> {% url adminupload.views.download_handler pk=ideaimage.pk model_info='creativeselector.tenderimage' field_name='file' as fallback_url  %}
			<table><tr><td style="height:125px;" ><div style="overflow:hidden;height:120px;">
			{% if ideaimage.file|filename|is_image %}
			
                <a class="lightbox" href="{% firstof ideaimage.file.file|public_download_url fallback_url as download_url %}">          
                  <img src="{% firstof ideaimage.file|public_download_url fallback_url as download_url %}" width="150"  alt="{{ ideaimage.file|filename }}" title="{{ ideaimage.file|filename }}">
                </a>
              {% else %}
                <a href="{% firstof ideaimage.file|public_download_url fallback_url %}">          
                  {{ ideaimage.file|filename }}
                </a>
              {% endif %}</div></td></tr><tr><td>
              <div style="width:150px; margin-top:5px; height:20px; background:#00bb00;padding-top:2px; padding-right:5px;"><!--input type="radio" id="kep_val_{{forloop.counter}}" name="kep_val" value="{{forloop.counter}}"> <span style="color:white;font-size:10px;">Kezdőképnek kiválaszt</span--> <a href="{% url creativeselector.views.remove_tenderimage ideaimage.pk  %}" style="color:red; float:right;font-size:12px; background:#ffffff; border:1px solid;" alt="törlés {{ ideaimage.file|filename }}" title="törlés {{ ideaimage.file|filename }}">X</a></div>
			  </tr></table></td>{% ifequal forloop.counter 4 %}</tr></table><table><tr>{% endifequal %}
        {% endfor %}
      </tr></table>
	  <p>&nbsp;</p>
	  <p>&nbsp;</p>
	{% endif %}
	</form>
	</div>
	{% else %}
	{% call "widgets/login_popup.html" %}
	{% endif %}
    {% endblock %}
  </div>
  <div id="content_bottom">
    {% block content_bottom %}
	{% if logged_in %}
		{% url creativeselector.views.continue_project2 proj.link as back_url %}
		{% call "widgets/back_button.html" with url=back_url %}
		{% call "widgets/button.html" with title="mentés#és#tovább" click="validate('send_projekt_form')" %}
    {% endif %}
	{% endblock %}
  </div>


{% endblock %}