﻿ {% extends "simplecontent.html" %}
{% load replace video call %}
{% load facebook_tags %}
{% block content %}


  {% block content_top %}
  {% endblock %}

<div id="center_title" class="cufon">{% block content_tab %}Támogatók{% endblock %}</div>
  <div id="content2"> 
      
    {% block content_text %}
	
	<div id="owner_proj">
	<p class="cufon" >{{proj.short_title}}</p>
	<br/>
	<table width="635">
	<tr><th style="text-align:left">&nbsp;</th><th style="text-align:left">NÉV</th><th style="text-align:left">ÖSSZEG</th><th style="text-align:left">MEGJEGYZÉS</th></tr>
		{% for sup in supps %}
		{% ifequal sup.visibility 1 %}
		<tr>
			<td><a href="{% url creativeselector.views.get_user_profile sup.user %}">{% show_facebook_photo sup.user "35" "q" %}</a></td>
			<td><a href="{% url creativeselector.views.get_user_profile sup.user %}">{% if sup.name %}{{sup.name}}{% else %}{{sup.user.last_name}} {{sup.user.first_name}}{% endif %}</a></td>
			<td>{{sup.money}},-</td>
			<td style="width:240px;">{% if sup.comment %}{{sup.comment|safe}}{% else %}&nbsp;{% endif %}</td>
		</tr>
		{% else %}
		{% ifequal sup.visibility 2 %}
		<tr>
			<td><a href="{% url creativeselector.views.get_user_profile sup.user %}">{% show_facebook_photo sup.user "35" "q" %}</td>
			<td><a href="{% url creativeselector.views.get_user_profile sup.user %}">{% if sup.name %}{{sup.name}}{% else %}{{sup.user.last_name}} {{sup.user.first_name}}{% endif %}</a></td>
			<td>Nem látható</td>
			<td style="width:240px;">{% if sup.comment %}{{sup.comment|safe}}{% else %}&nbsp;{% endif %}</td>
		</tr>
		{% else %}
		<tr>
			<td><img src="/media/images/t_silhouette_logo.gif" width="35"></td>
			<td>Anonymus</td>
			<td>Nem látható</td>
			<td style="width:240px;">{% if sup.comment %}{{sup.comment|safe}}{% else %}&nbsp;{% endif %}</td>
		</tr>
		{% endifequal %}
		{% endifequal %}
		{% endfor %}
		</table>
		<br/>
		<p style="text-align:center;"><a href="{% url creativeselector.views.present_form proj.link %}"><img src="/media/images/support.png"></a></p>
	</div>
	
	    {% endblock %}
  </div>
  <div id="content_bottom">
    {% block content_bottom %}
		
		
    {% endblock %}
  </div>


{% endblock %}