﻿{% extends "base.html" %}
{% load replace video call %}
{% load facebook_tags %}
{% load filetransfers fieldtag object_value_by_name media call %}
{% block content %}


  {% block content_top %}
  {% endblock %}

<div id="center_title" class="cufon">{% block content_tab %}Projektek{% ifequal proj.status 3 %} - Lejárt Projekt{% endifequal %}{% endblock %}</div>
  <div id="content2"> 
      
    {% block content_text %}
	{% if proj.tenderimage_set.all %}<script type="text/javascript" src="/media/js/simplegallery.js"></script>	{% endif %}
	<script type="text/javascript" charset="utf-8">
	 $(document).ready(function () {
		$('#zold_bar').width(306*{{need}});
		var num1=$('#fullmoney_big').html();		
		var num2=$('#fullmoney_small').html();		
		var num3=$('#percent_now_big').html();		
		var num4=$('#percent_now_small').html();		
		$('#fullmoney_big').html(separateNum(num1));
		$('#fullmoney_small').html(separateNum(num2));
		$('#percent_now_big').html(separateNum(num3));
		$('#percent_now_small').html(separateNum(num4));
		
		$('#largeImage').attr('src',$('#thumbimg_{{picnum}}').attr('src'));	
		fleXenv.fleXcrollMain('#presents_show');
	 });
	 
	/*function changeimg(img){
		$('#largeImage').attr('src',$(img).attr('src'));
		};*/{% if not proj.video_url %}{% if proj.tenderimage_set.all %}
var mygallery=new simpleGallery({
	wrapperid: "simplegallery1", //ID of main gallery container,
	dimensions: [330, 254], //width/height of gallery in pixels. Should reflect dimensions of the images exactly
	imagearray: [
		
		
		{% for ideaimage in proj.tenderimage_set.all %}
		{% url adminupload.views.download_handler pk=ideaimage.pk model_info='creativeselector.tenderimage' field_name='file' as fallback_url  %}
		{% if ideaimage.file|filename|is_image %}
		["{% firstof ideaimage.file|public_download_url fallback_url as download_url %}", "", "", ""],				
		{% endif %}
		{% endfor %}
	],
	autoplay: [false, 2500, 2], //[auto_play_boolean, delay_btw_slide_millisec, cycles_before_stopping_int]
	persist: false, //remember last viewed slide and recall within same session?
	fadeduration: 500, //transition duration (milliseconds)
	oninit:function(){ //event that fires when gallery has initialized/ ready to run
		//Keyword "this": references current gallery instance (ie: try this.navigate("play/pause"))
	},
	onslide:function(curslide, i){ //event that fires after each slide is shown
		//Keyword "this": references current gallery instance
		//curslide: returns DOM reference to current slide's DIV (ie: try alert(curslide.innerHTML)
		//i: integer reflecting current image within collection being shown (0=1st image, 1=2nd etc)
	}
})
	{% endif %}{% endif %}
	</script>
	
	<div id="projekt_card">
				<div id="proj_video">
					<p id="projekt_title">{{proj.short_title|upper}}</p>
					<p class="kicsi">projektgazda:<b><a href="{% url creativeselector.views.get_user_profile proj.owner.username %}" > {{proj.owner.last_name|upper}} {{proj.owner.first_name|upper}} </a></b></p>
					<p class="kicsi">kategória: <b>{{proj.category|upper}}</b></p>
					<p class="kicsi">helyszín: <b>{{proj.location|upper}}</b></p>
					
					
					{% if proj.video_url %}{{proj.video_url|video|safe}}{% else %}
					{% if proj.tenderimage_set.all %}
					<div id="gallery">
						<div id="simplegallery1"></div>
					</div>
					{% else %}
					<p style="width:330px;height:254px;background:#000000;">&nbsp;</p>
					{% endif %}
				{% endif %}
		{% if proj.video_url %}{% if proj.tenderimage_set.all %}<p style="width:330px;margin:0px;text-align:center;">
			{% for ideaimage in proj.tenderimage_set.all %}
			{% url adminupload.views.download_handler pk=ideaimage.pk model_info='creativeselector.tenderimage' field_name='file' as fallback_url  %}
			{% if ideaimage.file|filename|is_image %}			
                        <a class="lightbox" href="{% firstof ideaimage.file.file|public_download_url fallback_url as download_url %}"{% if ideaimage.tit %} title="{{ ideaimage.tit|upper }}"{% endif %}>
                  <img src="{% firstof ideaimage.file|public_download_url fallback_url as download_url %}" height="75" style="max-width:330px;"  alt="{% if ideaimage.tit %}{{ ideaimage.tit }}{% else %}{{ ideaimage.file|filename }}{% endif %}" title="{% if ideaimage.tit %}{{ ideaimage.tit }}{% else %}{{ ideaimage.file|filename }}{% endif %}">
                </a>
              {% endif %}
			{% endfor %}</p>
		{% endif %}{% endif %}
				
				
				
					<div id="statusbar"><img src="/media/images/zold_statusbar_b.png" height="15"><img src="/media/images/zold_statusbar_c.png" width="0" id="zold_bar" height="15"><img src="/media/images/zold_statusbar_e.png" height="15"></div>
					<p class="percent">{{percent}}%</p>
					<p><div id="fb-root"></div>
						<script>(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=145204418841370";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));</script>
						<fb:like href="{{pageurl}}" send="false" width="330" show_faces="false"></fb:like>
					
					</p>
					{% ifnotequal daysleft 0 %}<p align="right" style="margin-top:20px;margin-right:20px;"><a href="{% url creativeselector.views.present_form proj.link %}"><img src="/media/images/support.png"></a></p>{% else %}
					{% if hours %}<p align="right" style="margin-top:20px;margin-right:20px;"><a href="{% url creativeselector.views.present_form proj.link %}"><img src="/media/images/support.png"></a></p>{% else %}<div style="weight:302px; height:68px;">&nbsp;</div>{% endif %}
					{% endifnotequal %}
					<div id="proj_supporters"><p><a href="{% url creativeselector.views.projekt_supporters proj.link %}">Támogatók:</a></p>
					<a href="{% url creativeselector.views.projekt_supporters proj.link %}"><table>
						<tr>
						{% for sp in sp_users %}
						<td>{% ifequal sp.visibility 3 %}<img src="/media/images/t_silhouette_logo.gif" width="35">{% else %}{% show_facebook_photo sp.user "35" "q" %}{% endifequal %}</td>{% cycle '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '</tr></table><table><tr>' %}
						{% endfor %}
						</tr>						
					</table></a>
					</div>
				</div>
				<div id="proj_infos">
					<div id="proj_info_card">
					<p class="huge_no" id="fullmoney_big">{{now}},- Ft</p>
					<p class="normal" style="font-size:16px; font-weight:bold;" id="percent_now_big">{{percent}}% (célösszeg: {{proj.full_money}},- Ft)</p>
					<p class="normal" style="font-size:16px; font-weight:bold;">támogatók száma: {{supporters}}</p>
					<hr>
					<p class="huge_no">{{daysleft}}</p>
					<p class="normal" >nap van még hátra</p>
					<hr style="height:2px;">
					<p class="normal" >Mit kapok? <img src="/media/images/pres_box.png" width="38" valign="text-bottom"></p>
					
					
	<div id="presents_show" class="flexcroll">
					{% for pres, num, all in presents %}
					<script type="text/javascript" charset="utf-8">
	 $(document).ready(function () {
		var num=$('#pres_sup_num_{{forloop.counter}}').html();
		$('#pres_sup_num_{{forloop.counter}}').html(separateNum(num));
		});
	 </script>
	<p class="kicsi" ><span style="font-weight:bold;" id="pres_sup_num_{{forloop.counter}}"  class="cufon">{{forloop.counter}}. KATEGÓRIA ({{pres.min_prize}},- Ft felett):</span><br/>
	<span style="font-size:13px;">{{pres.detail|safe}}</span><br/>
	<span style="font-weight:bold;" class="cufon">{{num}} TÁMOGATÓ   <!--{{all}}--></span>
	</p>	
	<hr>
	{% endfor %}</div>
					
					</div>
					<!--p class="proj_action"><img src="/media/images/observer.png"> projektfigyelő</p-->
					{% if proj.faceurl %}<p class="proj_action">&nbsp;<a href="{{proj.faceurl}}" target="_blank">saját weboldal</a></p>{% endif %}
				</div>
			</div>
	<div style="display:inline-block; width:635px;">
	{% if tdu %}
		<hr style="border:none; height:2px; color:#C8C7C7; background:#C8C7C7;">
		<p id="update_title">Frissítések</p>
			
			<div class="updates"><a href="{% url creativeselector.views.get_project_update proj.link %}" style="color:#F26522;" ><span style="font-weight:bold">{{tdu.created|date:"Y.m.d | H:i"}}</span> <br/>
			{{tdu.content|slice:":250"|striptags}}...
			</a>			
			</div>
			{% endif %}
		<hr style="border:none; height:2px; color:#C8C7C7; background:#C8C7C7;">
		<p id="projekt_title">PROJEKTLEÍRÁS</p>
		<!--p class="proj_desc"> Projekt rövid összefoglalója</p>
		<p>{{proj.introduce|safe}}</p-->
		<p class="proj_desc"> Célok</p>
		<p>{{proj.for_what|safe|linebreaks}}</p>
		<p class="proj_desc"> Megvalósítás</p>
		<p>{{proj.budget|safe|linebreaks}}</p>	
	
		{% if proj.why_sup %}<p>{{proj.why_sup|safe|linebreaks}}</p>	{% endif %}
		<hr style="border:none; height:2px; color:#C8C7C7; background:#C8C7C7;">
		<p style="color:#00ff00; letter-spacing:0.15em;">KOMMENTEK</p>
		<div id="comments">
		{% call "blog/comments.html" with comments=comment and is_admin=is_admin %}

		{% if logged_in %}
			<form id="send_blog_comment_form" name="send_blog_comment_form" method="post"  >
			{% if is_badword %}
			<p>
				<label id="labelbad word" style="color:#bb0000" >Kérjük fogalmazza meg szebben! :)</label>
			</p>
			{% endif %}
			<p>
				<label id="label_id_new_comment" >Új komment</label>
			</p>
			<p>
				{{form.comment}}
			</p>
			<input type="submit" id="submit" value="Beküldés">
		  </form> 
				{% endif %}
			</div>
   
	</div>

    {% endblock %}
  </div>
  <div id="content_bottom">
    {% block content_bottom %}
	{% if is_admin %}{% if mproj %}<a href="{% url creativeselector.views.projecttomost proj.link %}" style="color:#d00;">Kiemelés törlése</a>{% else %} <a href="{% url creativeselector.views.projecttomost proj.link %}">Projekt Kiemelése</a>{% endif %}{% endif %}	
    {% endblock %}
  </div>


{% endblock %}