﻿{% extends "base.html" %}
{% load replace video call %}

{% block content %}


  {% block content_top %}
  {% endblock %}

<div id="center_title" class="cufon">{% block content_tab %}Projektindítás{% endblock %}</div>
  <div id="content2"> 
  
      <style type="text/css" charset="utf-8">
 <!--
 #id_introduce{
	width:580px;
	height:200px;
 }
-->
</style> 
    {% block content_text %}
	{% if logged_in %}
	<script type="text/javascript" charset="utf-8">
	function usless_word(form_id,id){
		var szavak=["engedmény", "engedményt", "árengedmény", "kedvezmény", "árkedvezmány", "kedvezményt", "kedvezményes"]
		var txt=gv(form_id, id);
		for(var i=0;i<szavak.length;i++){
			if(txt.search(szavak[i])>=0){
			im(form_id, id,'Légyszíves ezt a szót ne használd: '+szavak[i]+'!');
			return false;
			}
		}
		return true;
	}
	$(document).ready(function () {
	 var f=$('#id_full_money').val();$('#id_full_money').val(separateNum(f));
	 $('#id_full_money').focusout(function() { var f=$('#id_full_money').val();$('#id_full_money').val(separateNum(f)); });
	 $('#id_full_money').focus(function() { var f=$('#id_full_money').val();$('#id_full_money').val(unseparateNum(f)); });	
	 });
  // Form validator
  function validate(form_id) {
   resetForm(form_id);

   var valid = is_empty(form_id, 'short_title', true);
   var bdf=$('#id_full_money').val();
   $('#id_full_money').val(unseparateNum(bdf));
   if($('#id_crowd_no').val())   valid &= is_not_num(form_id, 'crowd_no', true);
   valid &= is_empty(form_id, 'introduce', true);
   valid &= is_empty(form_id, 'why_sup', true);
   valid &= is_empty(form_id, 'full_money', true);
   valid &= is_not_num(form_id, 'full_money', true);
   valid &= is_empty(form_id, 'tel_no', true);
   valid &= max_length(form_id, 'short_title', 40);
   //valid &= is_not_phone(form_id, 'tel_no');
   var ajszoveg='Azokra is gondolj, akik kisebb összeggel támogatnak. Nekik érdemes valami jelképes felajánlást tenned, pl. egy köszönő email küldése. ';
   if($('#id_form-0-detail').val()==ajszoveg){
	  im(form_id, 'form-0-detail','Ne felejtsd el átírni!');
      valid &= false; 
   }
    valid &= is_not_num(form_id, 'form-0-min_prize');
	valid &= min_supp(form_id, 'form-0-min_prize', 500);
    valid &= is_empty_pres(form_id, 'form-0-detail', true);
    valid &= usless_word(form_id, 'form-0-detail');
    valid &= is_not_num(form_id, 'form-1-min_prize');
	valid &= min_supp(form_id, 'form-1-min_prize', 500);
    valid &= is_empty_pres(form_id, 'form-1-detail', true);
	valid &= usless_word(form_id, 'form-1-detail');
	valid &= is_not_num(form_id, 'form-2-min_prize');
	valid &= min_supp(form_id, 'form-2-min_prize', 500);
    valid &= is_empty_pres(form_id, 'form-2-detail', true);
	valid &= usless_word(form_id, 'form-2-detail');
	valid &= is_not_num(form_id, 'form-3-min_prize');
	valid &= min_supp(form_id, 'form-3-min_prize', 500);
    valid &= is_empty_pres(form_id, 'form-3-detail', true);
	valid &= usless_word(form_id, 'form-3-detail');
   var cat = $('#id_category option:selected').val();
   
   if (!cat) {
      im(form_id, 'id_category','Válassz kategóriát!');
      valid &= false;
   }
   
   if (valid) {
     $(f(form_id)).submit();
   }else{ document.getElementById('id_short_title').scrollIntoView();}
  }
  

</script>
	<div id="form">
		<p style="font-size:16px; font-weight:bold;" class="cufon">3/3 Projekt első bemutatása </p>
	<p style="color:#49D271;font-weight:bold;">Kérjük szánj 5 percet arra, hogy bemutatod, mire szeretnél
		támogatást kapni. Az itt megadott információkat csak a Creative Selector munkatársai látják, akik egytől egyig azon vannak, hogy a 
		projekted a lehető legjobban sikerüljön. Az alább megadott adatok mindegyike később még módosítható!</p>
	<form id="send_projekt_form" name="send_projekt_form" action="/projektbekuldes3" method="post"  > 
	<input id="id_owner" name="owner" type="hidden" value="{{user.id}}">
	<p> 1. Rövid cím:</p>
	<span>Adj egy találó címet a projektednek</span>
	<p>{{form.short_title}}</p>
	
	<p> 2. A projekt összefoglalója</p>
	<span>Írd le röviden, hogy megértsük mit tervezel</span>
	<p>{{form.introduce}}</p>
	
	<p> 3. Milyen ösztönzőket(ajándékokat) fogsz felajánlani a támogatóidnak?</p>
	<span>A támogatásért cserében felajánlott szellemes ajándékok komoly ösztönző hatást jelentenek, 
	ezért szeretnénk ha már most elgondolkodnál miket fogsz majd felajánlani a támogatóidnak. (Kérjük ne használd a kedvezmény és engedmény szavakat, mert nem ösztönzik kellően a támogatást!)</span>
	{% call "present/peresent_form.html" with formset=forms_present %}
	
	<p> 4. Kampányaktivitás a gyűjtés ideje alatt</p>
	<span>A projekted feltöltése az oldalunkra csak az első lépés a siker felé. A támogatások sikeres begyűjtéséhez jól felépített kampányt érdemes folytatnod a gyűjtés ideje alatt.
	<br/><br/>
	Kíváncsiak vagyunk, Te hogyan kampányolsz majd a projekted sikere érdekében. Kérjük írd le azt a 3 legfontosabb aktivitást, amit annak érdekében teszel, hogy a projekted minél több támogatót vonzzon. (Pl. 1. Rendszeresen képeket teszek közzé a frissítés menüpont alatt, amelyet a Facebookon is megosztok az ismerőseimmel, stb.)
	<br/><br/>
	Kampányaktivitás leírása</span>
	<p>{{form.why_sup}}</p>
	
	<p> 5. Hol tudhatunk meg többet rólad/rólatok?</p>
	<span>Facebook, twitter, blog, stb. oldalaid címe</span>
	<p>{{form.faceurl}}</p>
	
	<p> 6. Ha van mekkora a közösséged? (fő)</p>
	<p>{{form.crowd_no}}</p>
	
	<p> 7. Mennyi pénzt szeretnél összegyűjteni? (Ft)</p>
	<p>{{form.full_money}}</p>
	
	<p> 8. Projekted melyik kategóriába tartozik?</p>
	<p>{{form.category}}</p>
	
	<p> 9. Telefonszámod</p><span>Nem nyilvános, mint ahogy itt semmi sem</span>
	<p>{{form.tel_no}}</p>
	
	</form>
	</div>
	{% else %}
	{% call "widgets/login_popup.html" %}
	{% endif %}
    {% endblock %}
  </div>
  <div id="content_bottom">
    {% block content_bottom %}
  {% if logged_in %}
		{% call "widgets/button.html" with title="Elküldés" click="validate('send_projekt_form')" %}
	{% endif %}
    {% endblock %}
  </div>


{% endblock %}