﻿{% extends "base.html" %}
{% load replace video call %}

{% block content %}


  {% block content_top %}
  {% endblock %}

<div id="center_title" class="cufon">{% block content_tab %}Projektindítás{% endblock %}</div>
  <div id="content2"> 
      
    {% block content_text %}
	{% if logged_in %}
		<p style="font-size:16px; font-weight:bold;" class="cufon">1/3 Projektet indítani egyszerű!</p>
	{{new_projekt_text.content|video|safe}} 
	{% else %}
	{% call "widgets/login_popup.html" %}
	{% endif %}
    {% endblock %}
  </div>
  <div id="content_bottom">
    {% block content_bottom %}
  {% if logged_in %}
		{% call "widgets/button.html" with title="tovább" click="jump('/projektbekuldes2')" %}
	{% endif %}
    {% endblock %}
  </div>


{% endblock %}