﻿{% extends "simplecontent.html" %}
{% load facebook_tags video call %}
{% block content %}


  {% block content_top %}
  {% endblock %}
<style type="text/css" charset="utf-8">
<!--
#content2 iframe{display:block;}
-->
</style>
<div id="center_title" class="cufon">{% block content_tab %}{{proj.short_title}} projekt frissítései{% endblock %}</div>
  <div id="content2"> 
      
    {% block content_text %}
	{% for pr in prup %}
	<div class="one_blog">
	 <b>{{pr.created|date:"Y.m.d | H:i"}}</b><br/><br/>
	 <div class="text" style="line-height: 1.5em; text-align:justify;">	 
        {{pr.content|video|safe|urlize}}		
      </div>
	  <hr style="border:none; height:2px; color:#C8C7C7; background:#C8C7C7;">
	</div>
	{% endfor %}
	
	<script>(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=145204418841370";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));</script>
						<fb:like href="{{uri|urlencode}}" send="false" width="330" show_faces="false"></fb:like>
	    {% endblock %}
  </div>
  <div id="content_bottom">
    {% block content_bottom %}
	{% url creativeselector.views.get_project proj.link as back_url %}
	{% call "widgets/back_button.html" with url=back_url %}
		
    {% endblock %}
  </div>


{% endblock %}