﻿{% extends "base.html" %}
{% load replace video call %}

{% block content %}


  {% block content_top %}
  {% endblock %}

<div id="center_title" class="cufon">{% block content_tab %}{% if success %}Gratulálunk, sikeres támogatás!{% else %}Támogatás sikeretelen!{% endif %}{% endblock %}</div>
  <div id="content2"> 
      
    {% block content_text %}{% if success %}
	<p style="font-weight:bold; font-size:21px;" class="cufon">Hivatalos támogatója lettél a(z) {{projekt.short_title}} projektnek!</p>
	{% else %}
	<p style="font-weight:bold; font-size:21px;" class="cufon">Sajnos hiba lépett fel!</p>
	{% endif %}
	<p style="font-weight:bold;">Tranzakció visszaigazolása:</p>
	<table>
	<tr><td style="text-alig:right;font-weight:bold; padding-right:5px;">Tranzakció azonosító <span style="font-szie:8px;">(TRID)</span>:</td><td>{{trid}}</td></tr>
	<tr><td style="text-alig:right;font-weight:bold; padding-right:5px;">Válaszkód <span style="font-szie:8px;">(RC)</span>:</td><td>{{rc}}</td></tr>
	<tr><td style="text-alig:right;font-weight:bold; padding-right:5px;">Válaszüzenet <span style="font-szie:8px;">(RT)</span>:</td><td>{{rt}}</td></tr>
	<tr><td style="text-alig:right;font-weight:bold; padding-right:5px;">Engedélyszám <span style="font-szie:8px;">(ANUM)</span>:</td><td>{{anum}}</td></tr>
	<tr><td style="text-alig:right;font-weight:bold; padding-right:5px;">Fizetett összeg <span style="font-szie:8px;">(AMO)</span>:</td><td>{{amo}}</td></tr>
	</table>
	{% if not success %}{% if is_admin %}<p>{{answer}}</p>{% endif %}{% else %}
	<br/>
	<p style="margin-top:5px; font-size:16px; padding-top:10px; background:url('/media/images/potty_vizszintes_tit.jpg') repeat-x top left">
	<b>Oszd meg ismerőseiddel, hogy hozzájárultál a projekt megvalósításához,<br/> hátha ők is kedvet kapnak!</b><br/>
	A támogatás összegét nem jelenítjük meg.
	<p style="text-align:center;"><span><a name="fb_share" type="button" share_url="{{pageurl|urlencode}}"></a> 
	<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script></span>	
	</p></p>	
	{% endif %}
	
	{% endblock %}
  </div>
  <div id="content_bottom">
    {% block content_bottom %}
	<p style="font-weight:bold;">Hogyan tovább?</p>
	{% if success %}
	<p><a href="{% url creativeselector.views.get_project projekt.link %}">Térj vissza a projekthez</a>, <a href="/">vagy nézz körbe a kiemelt projektjeink között.</a></p>	
    {% else %}
	<p><a href="{% url creativeselector.views.present_form projekt.link %}">Megpróbálom újra támogatni</a></p>
	{% endif %}
	<br/>
	<p>A fizetéssel kapcsolatos kérdéseidet a <a href="mailto:fizetes@creativeselector.hu" >fizetes@creativeselector.hu</a> címre várjuk.</p>
	{% endblock %}
  </div>


{% endblock %}