<div id="{% if button_id %}{{button_id}}{% else %}go_button{% endif %}" class="next_button button {% if class %}{{class}}{% endif %}" {% if click %}onclick="{{click}}"{% endif %}>
  <span class="cufon">{{title}}</span>
</div>