<div id="{{id}}" class="projekt_button {% if selected %}selected_projekt_button{% endif %}" {% if click %}onclick="{{click}}"{% endif %}>
  <div class="projekt_button_left">
    
  </div>
  <div class="projekt_button_title cufon">
    {{title}}
  </div>
  <div class="projekt_button_right">
    
  </div>
</div>