{% load expr media %}
<div class="share_widget" style="position:relative;top:-35px;z-index:-1;">
  {% if share_title %}
    {% expr share_title as share_title %}
  {% else %}
    {% if linktitle %}
      {% expr linktitle as share_title %}
    {% else %}
      {% expr headtitle as share_title %}
    {% endif %}
  {% endif %}

  {% if share_url %}
    {% expr share_url as share_url %}
  {% else %}
    {% expr full_url as share_url %}
  {% endif %}

  <img class="share_icon" border="0" src="{% media_url 'twitter_logo.png' %}" alt="Add a Twitter-hez" width="30" onclick="popupWindow({ centerBrowser:1, width:650, height: 600, toolbar: 0, windowURL:' http://twitter.com/home?status={{share_title|urlencode}} {{share_url|urlencode}}'})"/>


  
  <script>
     function fbs_click() {
           u="{{share_url|urlencode}}";
           t="{{share_title|urlencode}}";
           window.open('http://www.facebook.com/sharer.php?u={{share_url|urlencode}}&t={{share_title|urlencode}}','sharer','toolbar=0,status=0,width=650,height=600');
           //popupWindow({ centerBrowser:1, width:650, height: 600, toolbar: 0, windowURL:' http://www.facebook.com/sharer.php?u={{share_url|urlencode}}&t={{share_title|urlencode}}'})
           return false;
     }
  </script>
  <style> 
     html .fb_sare_link {height:30px; width:30px; background:url({% media_url 'facebook_logo.png' %}) no-repeat top left; }
  </style>
  
    <img class="share_icon" border="0" src="{% media_url 'facebook_logo.png' %}" alt="Add a Facebook-hoz" width="30"  onclick="return fbs_click()"/>
  
  <img class="share_icon" border="0" src="{% media_url 'iwiw_logo.png' %}" alt="Add az iWiW-hez" width="30" onclick="popupWindow({ centerBrowser:1, width:650, height: 600, toolbar: 0, windowURL:' http://iwiw.hu/pages/share/share.jsp?u={{share_url|urlencode}}&t={{share_title|urlencode}}'})" />
  
  
</div>